<!--
data context: {skill, course, topic, theme}
-->
<template name="skillPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor "skillEditPage" courseId=course._id skillId=skill._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{skill.title}}
				<div class="sub header">
					Topic
					<a href="{{pathFor 'topicPage' courseId=course._id topicId=topic._id}}">{{topic.title}}</a>
					in theme
					<a href="{{pathFor 'themePage' courseId=course._id themeId=theme._id}}">{{theme.title}}</a>
				</div>
			</div>
		</h1>
		<p>
			<strong>{{skill.description}}</strong>
		</p>
	</div>
</template>
