<template name="jointJsTest">
  <div class="stencil"></div>
  <div class="paper" style="position: relative"></div>
  <span class="ui button save-button">Save</span>
  Check browser console for saved JSON object.
  Call o = HRM.paper.model.toJSON() to store it manually.
  Call HRM.paper.model.fromJSON(o) to load it back.
</template>
