<!-- Future implementation of annotation containers (showing all annotations of an item/topic)-->
<template name="annotationContainer">
	<div class="ui inverted secondary blue stacked segment">
		<div class="ui grid">
			<div class="ten wide column">
				<div class="ui compact blue floating labeled icon dropdown button">
					<i class="user icon"></i>
					<span class="text">Filter</span>
					<div class="menu">
						<div class="header">
							<i class="tags icon"></i>
							Select question
						</div>
						<div class="item">
							Matthias
						</div>
						<div class="item">
							Anna
						</div>
						<div class="item">
							Luca
						</div>
					</div>
				</div>
				<script>$('.ui.dropdown').dropdown();</script>
			</div>
			<div class="right aligned three wide column">
				<i class="edit-annotation-button right floated edit icon"></i>
				<i class="remove-annotation-button right floated close icon"></i>
			</div>
		</div>
		<div class="ui divider">
		</div>
		<p>
			{{formatDateFromNow creationDate}}
		</p>
	</div>
</template>
