<template name="annotationContext">
	{{#if skillId}}
		{{#with getSkill skillId}}
			&lsaquo;<a href="/course/{{courseId}}/topic/{{topicId}}#skill_{{_id}}">{{title}}</a>&rsaquo;
			in
			{{>eventTopic}}
		{{/with}}
	{{else}}
		{{#if contentItemId}}
			{{#with getContentItem contentItemId}}
				{{#if equals containerCollection "Labs"}}
					{{#with getLab containerId}}
						<a href="/course/{{courseId}}/lab/{{_id}}#item_{{../_id}}">Item {{../index}}</a>
						of
						<i class="right floated circular lab icon"></i>
						<a href="/course/{{courseId}}/lab/{{_id}}">{{title}}</a>
					{{/with}}
					{{else}}
						TODO
				{{/if}}
			{{/with}}
		{{/if}}
	{{/if}}
</template>
