<template name="ICompletedAPomodoro">
	<div class="label">
		<i class="wait icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			completed a pomodoro with the goal
			{{#with getPomodoro pomodoroId}}
				"{{goal}}"
				{{>pomodoroInfo}}
			{{/with}}
		</div>
		<div class="extra text">
			{{#with getPomodoro pomodoroId}}
				Goal accomplished?
				{{>pomodoroGoalAccomplishedCell}}
			{{/with}}
		</div>
	</div>
</template>
