<template name="classSessionPage">
  <div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'classSessionEditPage' courseId=course._id classSessionId=classSession._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="student icon"></i>
			<div class="content">
				{{classSession.title}}
				<div class="sub header">{{classSession.description}}</div>
			</div>
		</h1>
    <div class="ui grid">
			{{#if classSession.ongoing}}
				<div class="sixteen wide column">
					Ongoing! Started at <strong>{{formatDate classSession.startDate}}</strong> at <strong>{{formatTime classSession.startDate}}</strong> by
				</div>
			{{else}}
				<div class="eight wide column">
					<strong>{{formatDateShort classSession.date}}</strong> (~ {{formatDateFromNow classSession.date}})
				</div>
        <div class="four wide right aligned column">
  				<strong>{{formatTimeHoursMinutes classSession.date}}</strong>
  			</div>
        <div class="four wide right aligned column">
  				<strong>{{classSession.duration}} minutes</strong>
  			</div>
			{{/if}}
    </div>
    {{>classSessionStatusPanel}}
    {{#if classSession.preparation}}
      <h2 class="ui dividing header">
        <div class="content">
          Your Preparation
          <div class="sub header">Come prepared to this class to get the most out of it</div>
        </div>
      </h2>
      <p>
        {{#markdownFix}}{{classSession.preparation}}{{/markdownFix}}
      </p>
      {{#if classSession.studyTaskIds}}
        <div class="ui celled list">
          {{#each classSession.studyTaskIds}}
            {{#with getStudyTask this}}
              {{>studyTaskItem}}
            {{/with}}
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
    {{#if classSession.topicIds}}
      <h2 class="ui dividing header">
        <div class="content">
          Topics
          <div class="sub header">This class session covers the following topics</div>
        </div>
      </h2>
      <div id="topic-card-container" class="ui two cards">
  			{{#each getTopics classSession.topicIds}}
  				{{>topicCardWithoutDescription}}
  			{{/each}}
  		</div>
    {{/if}}
    {{#if classSession.materials}}
      <h2 class="ui dividing header">
        <div class="content">
          Materials
          <div class="sub header">Materials for this session (e.g., slides, examples)</div>
        </div>
      </h2>
      <p>
        {{#markdownFix}}{{classSession.materials}}{{/markdownFix}}
      </p>
    {{/if}}
  </div>
</template>
