<template name="bookPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'bookEditPage' courseId=course._id bookId=book._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="black inverted circled book icon"></i>
			<div class="content">
				{{book.title}}
				<div class="sub header">{{book.subtitle}}</div>
			</div>
		</h1>
		<div class="ui breadcrumb">
			<a href="{{pathFor 'bookListPage' courseId=course._id}}" class="section">Books</a>
			<i class="right chevron icon divider"></i>
			<div class="active section">{{book.abbreviation}}</div>
		</div>
		<div class="ui items">
			<div class="item">
				<div class="ui small image">
					<img src="{{book.imageUrl}}">
				</div>
				<div class="content">
					<div class="header">{{book.title}}{{#if book.subtitle}}: {{book.subtitle}}{{/if}}</div>
					<div class="meta">
						<span class="author">{{book.author}}</span>
					</div>
					<div class="description">{{#markdownFix}}{{book.description}}{{/markdownFix}}</div>
					<div class="extra">
						{{book.url}}
					</div>
				</div>
			</div>
		</div>
		<p>
			You recalled {{countOwnBookSectionStatuses book._id}} of {{countBookSections book._id}} sections in this book.
		</p>

		<h2>Chapters</h2>
		<div class="ui celled list">
			{{#each chapters}}
				<div class="item">
					<a href="{{pathFor 'chapterPage' courseId=courseId bookId=bookId chapterId=_id}}"><div class="right floated compact ui button">More...</div></a>
					{{#if chapterCompleted _id}}
						<i class="right floated big green check circle icon"></i>
					{{else}}
						<div class="right floated ui label">
							{{countOwnChapterSectionStatuses _id}} of {{countChapterSections _id}}
						</div>
					{{/if}}
					<i class="book icon"></i>
					<div class="content">
						<a href="{{pathFor 'chapterPage' courseId=courseId bookId=bookId chapterId=_id}}">Chapter {{number}}</a>
						<div class="header"><a href="{{pathFor 'chapterPage' courseId=courseId bookId=bookId chapterId=_id}}">{{title}}</a></div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each chapters}}
		{{else}}
			<p>
				This book does not yet have any chapters.
			</p>
		{{/each}}
	</div>
</template>
