<template name="bookListEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="black inverted circled book icon"></i>
			<div class="content">
				Books
				<div class="sub header">Books to Read {{course.abbreviation}} {{course.instance}}</div>
			</div>
		</h1>
		<form class="ui form">
			<div class="field">
				<label>Why read the books?</label>
				{{>markdownLabel}}
				<textarea name="introduction" class="introduction-field">{{course.bookListIntroduction}}</textarea>
			</div>
			<button class="ui blue submit button">Submit</button>
		</form>
		<h2>Edit the List of Books</h2>
		<div class="ui celled list">
			{{#each books}}
				<div class="item">
					<button class="remove-book-button right floated compact red icon ui button"><i class="minus icon"></i></button>
					<a href="{{pathFor "bookEditPage" courseId=courseId bookId=_id}}"><div class="right floated compact blue icon ui button"><i class="edit icon"></i></div></a>
					<i class="book icon"></i>
					<div class="content">
						<div class="header"><a href="{{pathFor 'bookPage' courseId=courseId bookId=_id}}">{{title}}</a></div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each books}}
		{{else}}
			<p>
				This course does not yet have any books.
			</p>
		{{/each}}
		<p>
			<button class="add-book-button compact green ui button"><i class="plus icon"></i> Add Book</button>
		</p>
	</div>
</template>
