<template name="bookListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'bookListEditPage' courseId=course._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="black inverted circled book icon"></i>
			<div class="content">
				Books
				<div class="sub header">Books to Read in {{course.abbreviation}} {{course.instance}}</div>
			</div>
		</h1>
	</div>
	<div class="ui attached feature segment">
		{{#if course.bookListIntroduction}}
			<p class="ui blue ribbon label"><strong>Why</strong> read the books?</p>
			<p>
				{{#markdownFix}}{{course.bookListIntroduction}}{{/markdownFix}}
			</p>
		{{/if}}

		<div class="ui divided items">
			{{#each books}}
				<div class="item">
					<div class="ui small image">
						<img src="{{imageUrl}}">
					</div>
					<div class="content">
						<div class="header"><a href="{{pathFor 'bookPage' courseId=courseId bookId=_id}}">{{title}}{{#if subtitle}}: {{subtitle}}{{/if}}</a></div>
						<div class="meta">
							<span class="author">{{author}}</span>
						</div>
						<div class="description">{{#markdownFix}}{{description}}{{/markdownFix}}</div>
						<div class="extra">
							{{url}}
						</div>
						<div class="extra">
							<a class="compact ui button" href="{{pathFor 'bookPage' courseId=courseId bookId=_id}}">Contents...</a>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each books}}
		{{else}}
			<h2 class="ui center aligned disabled icon header">
				<i class="book icon"></i>
				No Books Yet
				{{#if isRegisteredAsInstructor courseId}}
					<div class="sub header">Edit to add one</div>
				{{/if}}
			</h2>
		{{/each}}
	</div>
</template>
