<template name="sectionPageContents">
  <!--
    externalUrl  embedUrl     contents  action
    yes          yes          yes       show contents & link "read below or at..."
    yes          yes          no        show iframe & link "read below or at..."
    yes          no           yes       show contents & link "read below or at..."
    yes          no           no        show link "read at..."
    no           yes          yes       show contents
    no           yes          no        show iframe
    no           no           yes       show contents
    no           no           no        "contents not available online"
  -->
  {{#if section.externalUrl}}
    {{#if section.contents}}
      <div class="ui attached secondary feature segment">
        <p>
          Read below or at
          <a target="_blank" href="{{section.externalUrl}}">{{section.externalUrl}}</a>.
        </p>
      </div>
      <div class="ui attached feature segment">
        {{{section.contents}}}
      </div>
    {{else}}
      {{#if section.embedUrl}}
        <div class="ui attached secondary feature segment">
          <p>
            Read below or at
            <a target="_blank" href="{{section.externalUrl}}">{{section.externalUrl}}</a>.
          </p>
        </div>
        <div class="ui attached feature segment no-padding-iframe-container">
          <iframe src="{{section.embedUrl}}" width="100%" height="600"></iframe>
        </div>
      {{else}}
        <div class="ui attached secondary feature segment">
          <p>
            Read at
            <a target="_blank" href="{{section.externalUrl}}">{{section.externalUrl}}</a>.
          </p>
        </div>
      {{/if}}
    {{/if}}
  {{else}}
    {{#if section.contents}}
      <div class="ui attached secondary feature segment">
        <p>
          Read below.
        </p>
      </div>
      <div class="ui attached feature segment">
        {{{section.contents}}}
      </div>
    {{else}}
      {{#if section.embedUrl}}
        <div class="ui attached secondary feature segment">
          <p>
            Read below.
          </p>
        </div>
        <div class="ui attached feature segment no-padding-iframe-container">
          <iframe src="{{section.embedUrl}}" width="100%" height="600"></iframe>
        </div>
      {{else}}
        <div class="ui attached secondary feature segment">
          <p>
            Contents not available online. Read it in your book.
          </p>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</template>
