<template name="adminUserListPage">
	<div class="ui top attached feature segment">
		<h2 class="ui dividing header">
			<div class="content">
				Users
			</div>
		</h2>
		<p>
			As an administrator you can see all users and their registrations in various roles for any of the courses.
			Currently you can neither add nor delete users.
			Ask prospective users (future instructors, assistants, and students) to sign up themselves.
		</p>
		<p>
			Once a user has signed up, they can self-register as a <strong>student</strong>
			for any courses that are open for registration.
		</p>
		<p>
			To register a user as an instructor or assistant of a course,
			you have to find them in the table below,
			and register them as an instructor or assistant for the respective course.
		</p>
		{{> reactiveTable collection=findUsers rowsPerPage=50 settings=settings}}
	</div>
</template>
