<!-- data context:
user
lab
labTeam
-->
<template name="userLabPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
      {{lab.title}}
      <div class="sub header">
        {{lab.description}}
      </div>
    </h2>
    {{>userLabPageMenu}}
  </div>
  <div class="ui attached feature segment">
    {{#if isMeOrOnTeachingTeam user._id courseId}}
      <div class="ui grid">
        <div class="ten wide column">
          Team:
          {{#each labTeam.memberIds}}
            {{#with getUser this}}
              {{> userStatusLabel user=this courseId=../../lab.courseId}}
            {{/with}}
          {{/each}}
        </div>
        <div class="six wide column">
          <div class="ui header" style="margin: 0 0 15px 0;">
            {{computeOverallScore lab._id labTeam._id}}
            /
            {{computeMaxOverallScore lab._id}}
            Points Total
          </div>
        </div>
      </div>
      <p>
        This page shows only the gradable items in this lab.
        You can see the complete lab, without grades, on the
        <a href="/course/{{courseId}}/lab/{{lab._id}}">lab page</a>.
      </p>
    {{/if}}
  </div>
  {{#if isMeOrOnTeachingTeam user._id courseId}}
    {{#each getQuestionItems lab._id}}
			<div class="ui attached feature segment">
				<a class="ui top left attached blue label" href="/course/{{courseId}}/lab/{{../lab._id}}#item_{{_id}}">
          <i class="external square icon"></i> Go to item {{index}} on the lab page
        </a>
        <h3 class="ui header">
          Item {{index}}
        </h3>
        <div id="item_{{_id}}">
      		<div class="ui grid">
      			<div class="ten wide column">
							{{#if equals type "textarea"}}
								<div class="ui blue message">
									<div class="header">
										<i class="bordered inverted blue question icon"></i>
										Question
									</div>
									{{#markdownFix}}{{text}}{{/markdownFix}}
									<form class="ui form">
										{{#with getTeamSubmission ../labTeam._id}}
											{{#with ..}}
												<textarea readonly class="question-field" style='{font-family: monospace}'>{{../value}}</textarea>
											{{/with}}
											<p>
												Last submitted {{formatDateTime modificationDate}} by
												{{#with getUser submitterId}}
													{{> userStatusLabel user=this courseId=../courseId}}
												{{/with}}
											</p>
										{{else}}
											<div class="ui center aligned secondary segment">
			                  <p>&nbsp;</p>
			                  <p>No Solution Submitted</p>
			                  <p>&nbsp;</p>
			                </div>
										{{/with}}
									</form>
								</div>
							{{else}}
								{{#if countLabSubmissionFiles ../labTeam._id _id}}
									{{#if countLabSubmissionImageFiles ../labTeam._id _id}}
	                  {{#each getLabSubmissionImageFiles ../labTeam._id _id}}
	                    <a target="_blank" href="{{link}}" class="ui fluid image">
	                      <img src="{{link}}">
	                    </a>
	                  {{/each}}
	                {{/if}}
	                <table class="ui very basic compact table">
	                  <tbody>
	                    {{#each getLabSubmissionFiles ../labTeam._id _id}}
	                      <tr>
	                        <td>
	                          <a href="{{link}}?download=true">{{shortFilename 56}}</a>
	                        </td>
	                        <td>
	                          {{#if owner}}
	                            {{#with getUser owner}}
	                              {{> userStatusLabel user=this courseId=../../courseId}}
	                            {{/with}}
	                          {{else}}
	                            <i>No owner</i>
	                          {{/if}}
	                        </td>
	                        <td>
	                          {{formatDateTime uploadDate}}
	                        </td>
	                        <td class="text-right">
	                          {{#if length}}
	                            {{formattedLength}}
	                          {{else}}
	                            (incomplete)
	                          {{/if}}
	                        </td>
	                      </tr>
	                    {{/each}}
	                  </tbody>
	                </table>
	              {{else}}
	                <div class="ui center aligned secondary segment">
	                  <p>&nbsp;</p>
	                  <p>No Files Uploaded</p>
	                  <p>&nbsp;</p>
	                </div>
	              {{/if}}
							{{/if}}
      			</div>
      			<div class="six wide column">
							{{>scoreShowPane contentItem=this team=../labTeam}}
      			</div>
      		</div>
      	</div>
			</div>
    {{/each}}
  {{/if}}
</template>
