<!-- data context:
user
course
-->
<template name="userQuestionListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
      Questions
      <div class="sub header">
        {{#if countUserQuestionsForCourse user._id course._id}}
          Asked {{countUserQuestionsForCourse user._id course._id}} questions.
        {{/if}}
        Questions are public; anyone may answer
      </div>
    </h2>
    {{#if countUserQuestionsForCourse user._id course._id}}
      {{#each getUserQuestionsForCourse user._id course._id}}
        <div class="ui basic segment">
          <div class="ui grid">

            <div class="one wide column">
              {{#if contentItemId}}
                {{#with getContentItem contentItemId}}
                  {{#if containerIs _id "Labs"}}
                    <i class="right floated circular lab icon"></i>
                  {{/if}}
                {{/with}}
              {{else}}
                {{#if sectionId}}
                  <i class="right floated circular book icon"></i>
                {{else}}
                  {{#with getSkill skillId}}
                    {{#with getTopic topicId}}
                      {{#with getTheme themeId}}
                        <i class="right floated circular inverted {{color}} {{icon}} icon"></i>
                      {{/with}}
                    {{/with}}
                  {{/with}}
                {{/if}}
              {{/if}}
            </div>

            <div class="four wide column">
              {{#if contentItemId}}
                {{#with getContentItem contentItemId}}
                  {{#if containerIs _id "Labs"}}
                    {{#with getLab containerId}}
                      <a class="header" href="{{pathFor 'questionPage' courseId=courseId questionId=../../_id}}">
                        {{title}}<br><strong>Item {{../index}}</strong>
                      </a>
                    {{/with}}
                  {{/if}}
                {{/with}}
              {{else}}
                {{#if sectionId}}
                  {{#with getSection sectionId}}
                    {{#with getChapter chapterId}}
                      {{#with getBook bookId}}
                        {{abbreviation}}, Section {{../../number}}<br>
                      {{/with}}
                      <a class="header" href="{{pathFor 'questionPage' courseId=courseId questionId=../../_id}}">
                        {{title}}<br><strong>{{../title}}</strong>
                      </a>
                    {{/with}}
                  {{/with}}
                {{else}}
                  {{#with getSkill skillId}}
                    {{#with getTopic topicId}}
                      <a class="header" href="{{pathFor 'questionPage' courseId=courseId questionId=../../_id}}">
                        {{title}}<br><strong>{{../title}}</strong>
                      </a>
                    {{/with}}
                  {{/with}}
                {{/if}}
              {{/if}}
              <p>
                {{formatDateFromNow modificationDate}}
              </p>
            </div>

            <div class="eight wide column">
              <div class="ui blue inverted segment">
                {{#markdownFix}}{{text}}{{/markdownFix}}
                <div class="ui bottom right attached ui blue label">
                  <a href="{{pathFor 'questionPage' courseId=courseId questionId=_id}}">Details...</a>
                </div>
              </div>
            </div>

            <div class="three wide column">
              <div class="ui grid">
                <div class="left aligned eight wide column" style="padding-bottom:0;">
                  <span style="font-size: 0.8em; color: #b0b0b0">
                    Score
                  </span>
                </div>
                <div class="right aligned eight wide column" style="padding-bottom:0;">
                  <span style="font-size: 2em">
                    {{score}}
                  </span>
                </div>
                {{#unless isMe userId}}
                  <div class="center aligned sixteen wide column" style="padding-top:0;">
                    <div class="3 fluid ui buttons">
                      <div class="ui compact {{#if haveUpvoted this}}green{{else}}{{/if}} icon button upvote-question-button">
                        +1
                      </div>
                      <div class="ui compact {{#if haveNotVoted this}}yellow{{else}}{{/if}} icon button clearvote-question-button">
                        0
                      </div>
                      <div class="ui compact {{#if haveDownvoted this}}red{{else}}{{/if}} icon button downvote-question-button">
                        -1
                      </div>
                    </div>
                  </div>
                {{/unless}}
              </div>
              <div style="padding-top: 10px">
                {{countAnswers _id}} answers
              </div>
            </div>

          </div>
        </div>
      {{/each}}
    {{else}}

      <h2 class="ui center aligned disabled icon header">
        <i class="help icon"></i>
        No Questions Yet
        <div class="sub header">
          You have not yet asked any questions
        </div>
      </h2>

      <div class="ui message">
        To <strong>ask</strong> a question, pick
        <strong><i class="help icon"></i>Add Question</strong>
        from a
        <i class="remove bookmark icon"></i>dropdown menu
        in the margin of a page (e.g., in the various
        <a href="{{pathFor 'labListPage' courseId=course._id}}">lab pages</a>).
      </div>
      <div class="ui message">
        To <strong>answer</strong> a question,
        find a blue question in the margin of a page,
        or on the list of <a href="{{pathFor 'communityOpenQuestionsPage' courseId=course._id}}">open questions asked by the community</a>.
      </div>
    {{/if}}

  </div>
</template>
