<template name="userFirstName">
	{{#if profile.firstName}}
		<a href="{{pathFor "adminUserPage" _id=_id}}">{{profile.firstName}}</a>
	{{else}}
		<i><a href="{{pathFor "adminUserPage" _id=_id}}">unknown</a></i>
	{{/if}}
</template>
