<!-- data context:
user
course
-->
<template name="userPassedTopicListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    {{>userMasteryCheckMenu}}
    <h3 class="ui dividing header">
      Mastered Topics
      <div class="sub header">
        Topics you demonstrated mastery in
      </div>
    </h3>
    {{#if hasMasteredTopicChecksForCourseAndStudent course._id user._id}}
      <table class="ui table">
        <thead>
          <tr>
            <th>Check</th>
            <th>Topic</th>
            <th>Tester</th>
            <th>Feedback</th>
          </tr>
        </thead>
        <tbody>
          {{#each getMasteredTopicChecksForCourseAndStudent course._id user._id}}
            {{>studentTopicCheckRow}}
          {{/each}}
        </tbody>
      </table>
      <p>
        <strong>Note:</strong>
        While you demonstrated mastery in the topics above,
        we still might have provided some feedback to you.
        Please do not ignore that feedback.
        If we asked you to practice some more, do so.
        We might ask you questions in future mastery checks
        where you again will need to demonstrate mastery
        of some of these skills.
      </p>
    {{else}}
      <h2 class="ui center aligned disabled icon header">
        <i class="trophy icon"></i>
        No Mastered Topics Yet
        {{#unless isOnTeachingTeam course._id}}
          <div class="sub header"><a href="{{pathFor 'masteryCheckPreparationPage' _id=courseId}}">Prepare a Mastery Check</a></div>
        {{/unless}}
      </h2>
    {{/if}}
  </div>
</template>
