<!-- data context:
user
course
-->
<template name="userFailedTopicListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    {{>userMasteryCheckMenu}}
    <h3 class="ui dividing header">
			Pending Bugs
			<div class="sub header">
				Topics we checked which you still need to master
			</div>
    </h3>
		{{#if countPendingBugsForCourseAndStudent course._id user._id}}
			<div class="ui info message">
				<div class="header">
					Study Tip
				</div>
				<p>
					Focus on
					{{#if hasMultiplePendingBugsForCourseAndStudent course._id user._id}}
						the following
						{{countPendingBugsForCourseAndStudent course._id user._id}}
						topics
					{{else}}
						the following topic
					{{/if}}
					next.
				</p>
				<p>
					To help you identify and "debug" misconceptions,
					we provided you with feedback during the mastery check,
					and we may provide additional feedback below.
				</p>
				<p>
					<strong>
						It might be best to
						redo the corresponding study tasks and the related labs.
					</strong>
				</p>
				<p>
					If you have any doubts, please ask questions at any time.
				</p>
			</div>
		{{/if}}
		<table class="ui table">
			<thead>
				<tr>
					<th>Check</th>
					<th>Topic</th>
					<th>Tester</th>
					<th>Feedback</th>
				</tr>
			</thead>
			<tbody>
				{{#each getPendingBugsForCourseAndStudent course._id user._id}}
					{{>studentTopicCheckRow}}
				{{else}}
					<tr><td colspan="4">None.</td></tr>
				{{/each}}
			</tbody>
		</table>

		<h3 class="ui dividing header">
			Resolved Bugs
			<div class="sub header">
				Topics we checked which you originally did not master, but which you mastered later
			</div>
		</h3>
		<table class="ui table">
			<thead>
				<tr>
					<th>Check</th>
					<th>Topic</th>
					<th>Tester</th>
					<th>Feedback</th>
				</tr>
			</thead>
			<tbody>
				{{#each getResolvedBugsForCourseAndStudent course._id user._id}}
					{{>studentTopicCheckRow}}
				{{else}}
					<tr><td colspan="4">None.</td></tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>
