<!-- data context:
user
course
-->
<template name="userBookmarkListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
      Bookmarks
      <div class="sub header">
        {{#if countUserBookmarksForCourse user._id course._id}}
          Bookmarked {{countUserBookmarksForCourse user._id course._id}} items.
        {{/if}}
        Bookmarks are not visible for other students
      </div>
    </h2>
    {{#each getUserBookmarksForCourse user._id course._id}}
      <div class="ui basic segment">
        <div class="ui grid">
          <div class="one wide column">
            <i class="large red bookmark icon"></i>
          </div>
          <div class="one wide column">
            {{#if contentItemId}}
              {{#with getContentItem contentItemId}}
                {{#if containerIs _id "Labs"}}
                  <i class="right floated circular lab icon"></i>
                {{/if}}
              {{/with}}
            {{else}}
              {{#if sectionId}}
                <i class="right floated circular book icon"></i>
              {{else}}
                {{#with getSkill skillId}}
                  {{#with getTopic topicId}}
                    {{#with getTheme themeId}}
                      <i class="right floated circular inverted {{color}} {{icon}} icon"></i>
                    {{/with}}
                  {{/with}}
                {{/with}}
              {{/if}}
            {{/if}}
          </div>
          <div class="nine wide column">
            {{#if contentItemId}}
              {{#with getContentItem contentItemId}}
                {{#if containerIs _id "Labs"}}
                  {{#with getLab containerId}}
                    <a class="header" href="/course/{{course._id}}/lab/{{_id}}#item_{{../_id}}">
                      {{title}}<br><strong>Item {{../index}}</strong>
                    </a>
                  {{/with}}
                {{/if}}
              {{/with}}
            {{else}}
              {{#if sectionId}}
                {{#with getSection sectionId}}
                  {{#with getChapter chapterId}}
                    {{#with getBook bookId}}
                      {{abbreviation}}, Section {{../../number}}<br>
                    {{/with}}
                    <a class="header" href="/course/{{courseId}}/book/{{bookId}}/chapter/{{_id}}/section/{{../_id}}">
                      {{title}}<br><strong>{{../title}}</strong>
                    </a>
                  {{/with}}
                {{/with}}
              {{else}}
                {{#with getSkill skillId}}
                  {{#with getTopic topicId}}
                    <a class="header" href="/course/{{courseId}}/topic/{{_id}}#skill_{{../_id}}">
                      {{title}}<br><strong>{{../title}}</strong>
                    </a>
                  {{/with}}
                {{/with}}
              {{/if}}
            {{/if}}
          </div>
          <div class="four wide column">
            <p>
              {{formatDateFromNow modificationDate}}
            </p>
          </div>
          <div class="one wide column">
            <div class="remove-annotation-button right floated compact red icon ui button"><i class="minus icon"></i></div>
          </div>
        </div>
      </div>
    {{else}}

    <h2 class="ui center aligned disabled icon header">
      <i class="bookmark icon"></i>
      No Bookmarks Yet
      <div class="sub header">
        You have not bookmarked anything yet
      </div>
    </h2>

    <div class="ui message">
      To bookmark something, pick
      <strong><i class="bookmark icon"></i>Add Bookmark</strong>
      from a
      <i class="remove bookmark icon"></i>dropdown menu
      in the margin of a page (e.g., in the various
      <a href="{{pathFor 'labListPage' courseId=course._id}}">lab pages</a>).
    </div>
    {{/each}}
  </div>
</template>
