<!-- data context:
user
course
-->
<template name="userStudyTaskListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
      <div class="content">
        Study Tasks
        <div class="sub header">
          This course has {{countStudyTasks course._id}} study tasks
        </div>
      </div>
    </h2>
		{{#if getTopicCountForCourse course._id}}
	    <div class="ui grid">
				{{#each getTopicsForCourse course._id}}
	        <div class="sixteen wide column">
	          <div class="ui header">
	            {{#with getTheme themeId}}
	              <i class="circular inverted {{color}} {{icon}} icon"></i>
	            {{/with}}
	            <div class="content">
	        			<a href="{{pathFor "topicPage" courseId=courseId topicId=_id}}">
	        				{{#if title}}
	        					{{title}}
	        				{{else}}
	        					<i>Untitled topic</i>
	        				{{/if}}
	        			</a>
	              <div class="sub header">
	                {{#with getTheme themeId}}
	                  {{title}}
	                {{/with}}
	              </div>
	            </div>
	          </div>
	          <div class="ui celled list">
	            {{#each getStudyTasksForTopic _id}}
	              {{>userStudyTaskItem user=../../user studyTask=. course=../../course}}
	            {{/each}}
	          </div>
	        </div>
				{{/each}}
			</div>
		{{else}}
			<h2 class="ui center aligned disabled icon header">
				<i class="edit icon"></i>
				No Study Tasks Yet
				{{#if isRegisteredAsInstructor courseId}}
					<div class="sub header">Edit a theme to create topics, then add study tasks</div>
				{{/if}}
			</h2>
		{{/if}}
	</div>
</template>
