<template name="courseListPage">
	<div class="ui feature segment">
		<h1 class="ui dividing header">
			<i class="student icon"></i>
			<div class="content">
				Courses
				<div class="sub header">Courses offered in Informa.</div>
			</div>
		</h1>
		<div class="ui relaxed divided items">
			{{#each courses}}
				{{>courseItem}}
			{{/each}}
		</div>
	</div>
</template>
