<template name="studentPageClassSessionInfoCard">
  <div class="ui blue card">
    <div class="content">
      <div class="header">Class Sessions</div>
    </div>
    <div class="content">
      <p>
        We regularly meet in class sessions.
      </p>
      <h4 class="ui sub header">Information</h4>
      List of <a href="{{pathFor 'classSessionListPage' courseId=courseId}}">all class sessions</a>
    </div>
  </div>
</template>
