<template name="studentGradePage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
		{{/if}}
		<h2 class="ui dividing header">
			Grade
		</h2>
		<p>
			Here are the worst-case, expected, and best-case grades you might get.
			<i>
				These grades are not guaranteed. They might be incorrect due to various errors.
			</i>
		</p>
		<div class="ui three column grid">
			<div class="center aligned column">
				<div class="ui statistic">
					<div class="label">
						Worst-Case Grade
					</div>
					<div class="value">
						{{computeWorstCaseGrade courseId studentId}}
					</div>
				</div>
				<p>
					Your grade if you won't master any further topics.
				</p>
			</div>
			<div class="center aligned column">
				<div class="ui statistic">
					<div class="label">
						Expected Grade
					</div>
					<div class="value">
						?
					</div>
				</div>
				<p>
					Your grade if you continued to pass topic checks at the same rate.
				</p>
			</div>
			<div class="center aligned column">
				<div class="ui statistic">
					<div class="label">
						Best-Case Grade
					</div>
					<div class="value">
						?
					</div>
				</div>
				<p>
					Your grade if you pass all topic checks you still can do.
				</p>
			</div>
		</div>
		<h2 class="ui dividing header">
			Mastery Check Tickets
		</h2>
		<p>
			At the beginning of the semester you receive a fixed number of mastery check tickets.
			Each valid ticket allows you to do one mastery check.
			A ticket will expire (become invalid) at a certain date.
			This forces you to do checks throughout the semester;
			you cannot wait until the end and then do all checks in one go,
			because most of your tickets will have expired at that time.
		</p>
		<div class="ui four column grid">
			<div class="center aligned column">
				<div class="ui green statistic">
					<div class="label">
						Remaining
					</div>
					<div class="value">
						?
					</div>
				</div>
			</div>
			<div class="center aligned column">
				<div class="ui red statistic">
					<div class="label">
						Expired
					</div>
					<div class="value">
						?
					</div>
				</div>
			</div>
			<div class="center aligned column">
				<div class="ui yellow statistic">
					<div class="label">
						Used
					</div>
					<div class="value">
						?
					</div>
				</div>
			</div>
			<div class="center aligned column">
				<div class="ui statistic">
					<div class="label">
						Total
					</div>
					<div class="value">
						?
					</div>
				</div>
			</div>
		</div>
		<h2 class="ui dividing header">
			Topics
		</h2>
		<p>
			You may want to achieve mastery in as many topics in this course as possible.
			Your grade is directly dependent on the set of topics you master.
		</p>
		<div class="ui three column grid">
			<div class="center aligned column">
				<div class="ui green statistic">
					<div class="label">
						Mastered
					</div>
					<div class="value">
						{{countTopicsMastered courseId studentId}}
					</div>
				</div>
			</div>
			<div class="center aligned column">
				<div class="ui yellow statistic">
					<div class="label">
						Not Yet Mastered
					</div>
					<div class="value">
						{{countTopicsNotYetMastered courseId studentId}}
					</div>
				</div>
			</div>
			<div class="center aligned column">
				<div class="ui statistic">
					<div class="label">
						Total
					</div>
					<div class="value">
						{{countTopicsInCourse courseId}}
					</div>
				</div>
			</div>
		</div>
		<p>
		</p>
		<h3 class="ui dividing header">
			Topics to Master for Next Higher Grade
		</h3>
		<p>
			To reach the next higher grade, you need to master the following topics:
		</p>
		<table class="ui table">
			<thead>
				<tr>
					<th>Topic</th>
					{{#if isRegisteredAsStudent courseId}}
						<th>Status</th>
						<th>Check</th>
					{{/if}}
					{{#if isOnTeachingTeam courseId}}
						<th>Passes</th>
						<th>Fails</th>
						<th>Questions</th>
						<th>Problems</th>
					{{/if}}
					<th class="right aligned collapsing">Grade</th>
				</tr>
			</thead>
			<tbody>
				{{#each getTopicsToMasterForNextGradeLevel courseId studentId}}
					{{> topicRow}}
				{{/each}}
			</tbody>
		</table>
	</div>
</template>
