<template name="studentPageMenu">
	<div class="ui secondary  menu">
		<a class="{{isActiveRoute "studentPage"}} item" href="{{pathFor 'studentPage' courseId=courseId _id=_id}}">
			<i class="user icon"></i>
		</a>
		<a class="{{isActiveRoute "studentOwnPracticeProblemListPage|studentSolvedPracticeProblemListPage|studentUnsolvedPracticeProblemListPage"}} item" href="{{pathFor 'studentOwnPracticeProblemListPage' courseId=courseId _id=_id}}">
			<i class="university icon"></i> Problems
			<div class="floating ui teal label">{{countStudentUnsolvedPracticeProblems studentId}}/{{countStudentSolvedPracticeProblems studentId}}/{{countStudentOwnPublishedUnarchivedPracticeProblems studentId}}</div>
		</a>
		{{#with getCourse courseId}}
			{{#if useMasteryChecks}}
				<a class="{{isActiveRoute "studentFailedChecksPage"}} item" href="{{pathFor 'studentFailedChecksPage' courseId=courseId _id=../_id}}">
					<i class="bug icon"></i> Bugs
					<div class="floating ui red label">{{countPendingBugsForCourseAndStudent studentId courseId}}/{{countFailedTopicChecksForUserAndCourse studentId courseId}}</div>
				</a>
				<a class="{{isActiveRoute "studentPassedChecksPage"}} item" href="{{pathFor 'studentPassedChecksPage' courseId=courseId _id=../_id}}">
					<i class="trophy icon"></i> Mastered
					<div class="floating ui green label">{{countMasteredTopicChecksForUserAndCourse studentId courseId}}</div>
				</a>
				{{#if masteryChecksDetermineGrade}}
					<a class="{{isActiveRoute "studentGradePage"}} item" href="{{pathFor 'studentGradePage' courseId=courseId _id=../_id}}">
						<i class="resize vertical icon"></i> Grade
					</a>
				{{/if}}
			{{/if}}
		{{/with}}
		<a class="{{isActiveRoute "studentQuestionListPage|studentNoteListPage|studentTagListPage|studentBookmarkListPage"}} item" href="{{pathFor 'studentBookmarkListPage' courseId=courseId _id=_id}}">
			<i class="remove bookmark icon"></i>
			<div class="floating ui blue label">{{countAllAnnotationsForUserAndCourse studentId courseId}}</div>
		</a>
		<a class="{{isActiveRoute "userLabListPage|userLabPage|userLabFeedbackPage"}} item" href="{{pathFor 'userLabListPage' courseId=courseId userId=studentId}}">
			<i class="lab icon"></i>
		</a>
		{{#with getCourse courseId}}
			{{#if useQuizzes}}
				<a class="{{isActiveRoute "studentQuizListPage|userQuizAttemptPage"}} item" href="{{pathFor 'studentQuizListPage' courseId=courseId _id=../_id}}">
					<i class="checkmark box icon"></i>
				</a>
			{{/if}}
		{{/with}}
		<a class="{{isActiveRoute "userSkillListPage"}} item" href="{{pathFor 'userSkillListPage' courseId=courseId userId=studentId}}">
			<i class="target icon"></i>
		</a>
		<a class="{{isActiveRoute "studentReadingPage"}} item" href="{{pathFor 'studentReadingPage' courseId=courseId _id=_id}}">
			<i class="book icon"></i>
		</a>
		<a class="{{isActiveRoute "studentPomodoroListPage"}} item" href="{{pathFor 'studentPomodoroListPage' courseId=courseId _id=_id}}">
			<i class="wait icon"></i>
		</a>
		<a class="{{isActiveRoute "studentFeedPage"}} item" href="{{pathFor 'studentFeedPage' courseId=courseId _id=_id}}">
			<i class="feed icon"></i>
		</a>
	</div>
</template>
