<template name="studentFailedChecksPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
			<h2 class="ui dividing header">
				Pending Bugs
				<div class="sub header">
					Topics we checked which you still need to master
				</div>
			</h2>
			{{#if countPendingBugsForCourseAndStudent courseId studentId}}
				<div class="ui info message">
					<div class="header">
						Study Tip
					</div>
					<p>
						Focus on
						{{#if hasMultiplePendingBugsForCourseAndStudent courseId studentId}}
							the following
							{{countPendingBugsForCourseAndStudent courseId studentId}}
							topics
						{{else}}
							the following topic
						{{/if}}
						next.
					</p>
					<p>
						To help you identify and "debug" misconceptions,
						we provided you with feedback during the mastery check,
						and we provide additional feedback below.
					</p>
					<p>
						<strong>
							It might be best to
							redo the corresponding study tasks and the related labs.
						</strong>
					</p>
					<p>
						If you have any doubts, please ask questions at any time.
					</p>
				</div>
			{{/if}}
			<table class="ui table">
				<thead>
					<tr>
						<th>Check</th>
						<th>Topic</th>
						<th>Tester</th>
						<th>Feedback</th>
					</tr>
				</thead>
				<tbody>
					{{#each getPendingBugsForCourseAndStudent courseId studentId}}
						{{>studentTopicCheckRow}}
					{{else}}
						<tr><td colspan="4">None.</td></tr>
					{{/each}}
				</tbody>
			</table>
			<h2 class="ui dividing header">
				Resolved Bugs
				<div class="sub header">
					Topics we checked which you originally did not master, but which you mastered later
				</div>
			</h2>
			<table class="ui table">
				<thead>
					<tr>
						<th>Check</th>
						<th>Topic</th>
						<th>Tester</th>
						<th>Feedback</th>
					</tr>
				</thead>
				<tbody>
					{{#each getResolvedBugsForCourseAndStudent courseId studentId}}
						{{>studentTopicCheckRow}}
					{{else}}
						<tr><td colspan="4">None.</td></tr>
					{{/each}}
				</tbody>
			</table>
		{{/if}}
	</div>
</template>
