<template name="studentQuestionPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
		{{/if}}
		<h2 class="ui dividing header">
			Questions
		</h2>
		{{#each getUserAnnotationsForCourse studentId course._id}}
			<div class="ui basic segment">
				<div class="ui grid">
					<div class="one wide column">
						{{#if contentItemId}}
							{{#with getContentItem contentItemId}}
								{{#if containerIs _id "Labs"}}
									<i class="right floated circular lab icon"></i>
								{{/if}}
							{{/with}}
						{{else}}
							{{#if sectionId}}
								<i class="right floated circular inverted book icon"></i>
							{{else}}
								{{#with getSkill skillId}}
									{{#with getTopic topicId}}
										{{#with getTheme themeId}}
											<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
										{{/with}}
									{{/with}}
								{{/with}}
							{{/if}}
						{{/if}}
					</div>
					<div class="seven wide column">
						{{#if contentItemId}}
							{{#with getContentItem contentItemId}}
								{{#if containerIs _id "Labs"}}
									{{#with getLab containerId}}
										<a class="header" href="/course/{{course._id}}/lab/{{_id}}#item_{{../_id}}">
											<strong>{{title}}</strong><br>Item {{../index}}
										</a>
									{{/with}}
								{{/if}}
							{{/with}}
						{{else}}
							{{#if sectionId}}
								{{#with getSection sectionId}}
									{{#with getChapter chapterId}}
										<a class="header" href="/course/{{courseId}}/book/{{bookId}}/chapter/{{_id}}#section_{{../_id}}">
											<strong>{{title}}</strong><br>{{../title}}
										</a>
									{{/with}}
								{{/with}}
							{{else}}
								{{#with getSkill skillId}}
									{{#with getTopic topicId}}
										<a class="header" href="/course/{{courseId}}/topic/{{_id}}#skill_{{../_id}}">
											<strong>{{title}}</strong><br>{{../title}}
										</a>
									{{/with}}
								{{/with}}
							{{/if}}
						{{/if}}
						<div class="meta">
							{{formatDateFromNow modificationDate}}
						</div>
					</div>
					<div class="eight wide column">
						<div class="ui blue inverted segment">
							{{#markdownFix}}{{text}}{{/markdownFix}}
						</div>
					</div>
				</div>
			</div>
		{{else}}
		<p>
			No questions at this time.
		</p>
		<div class="ui message">
			To ask a question, click one of the&nbsp;
			<div class="ui circular compact icon basic button"><i class="help icon"></i></div>
			buttons in the margin of a page (e.g., in the various
			<a href="{{pathFor 'labListPage' _id=course._id}}">lab pages</a>).
		</div>
		{{/each}}
	</div>
</template>
