<!--
data context: {theme, topics}
-->
<template name="themeEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{#if theme.title}}
					{{theme.title}}
				{{else}}
					<i>Untitled theme</i>
				{{/if}}
				<div class="sub header">{{theme.description}}</div>
			</div>
		</h1>

		<h2>Edit Theme Information</h2>
		<form class="ui form">
			<div class="field">
				<label>Title:</label>
				<input type="text" name="title" placeholder="Theme title" value="{{theme.title}}">
			</div>
			<div class="field">
				<label>Short Description:</label>
				<input type="text" name="description" placeholder="One-sentence description of this theme" value="{{theme.description}}">
			</div>
			<div class="three fields">
				<div class="field">
					<label>Icon:</label>
					<div class="theme-icon-dropdown fluid ui search selection dropdown">
						<input type="hidden" name="icon" value="{{theme.icon}}">
						<i class="dropdown icon"></i>
						<div class="default text">Select a theme icon</div>
						<div class="menu">
							{{#each getIconNames}}
								<div class="item" data-value="{{this}}">
									<i class="{{this}} icon"></i>
									{{this}}
								</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="field">
					<label>Color:</label>
					<div class="theme-color-dropdown fluid ui selection dropdown">
						<input type="hidden" name="color" value="{{theme.color}}">
						<i class="dropdown icon"></i>
						<div class="default text">Select a theme color</div>
						<div class="menu">
							{{#each getColorNames}}
								<div class="item" data-value="{{this}}">
									<i class="{{this}} circle icon"></i>
									{{this}}
								</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="field">
					<i class="circular inverted big {{getColor}} {{getIcon}} icon"></i>
				</div>
			</div>
			<div class="field">
				<label>Why master the topics in this theme?</label>
				{{>markdownLabel}}
				<div class="why-pedagogy-label ui blue label">
					<i class="why-pedagogy-label idea icon"></i> Pedagogy
				</div>
				<div class="ui popup">
					<p>
						<strong>A good rationale boosts motivation</strong>
					</p>
					<p>
						Providing a good rationale that promotes the value of the topics in this theme,
						a value that students may not actually be aware of initially,
						helps students to generate the motivation they need
						to engage in and learn from material they may initially deem "uninteresting".
					</p>
					<p>
						<i>Hyungshim Jang. Supporting students' motivation, engagement, and learning during an uninteresting activity. Journal of Educational Psychology, 2008.</i>
					</p>
				</div>
				<textarea name="why" placeholder="Describe why this theme matters to the students">{{theme.why}}</textarea>
			</div>
			<button class="ui blue submit button">Submit</button>
		</form>

		<h2>Edit List of Topics</h2>
		<div class="ui celled list">
			{{#each topics}}
				<div class="item">
					<button class="remove-topic-button right floated compact red icon ui button"><i class="minus icon"></i></button>
					<a href="{{pathFor "topicEditPage" courseId=courseId topicId=_id}}"><div class="right floated compact blue icon ui button"><i class="edit icon"></i></div></a>
					<i class="circular inverted {{../theme.color}} {{../theme.icon}} icon"></i>
					<div class="content">
						<div class="header">
							<a href="{{pathFor 'topicPage' courseId=courseId topicId=_id}}">
								{{#if title}}
									{{title}}
								{{else}}
									<i>Untitled topic</i>
								{{/if}}
							</a>
						</div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each topics}}
		{{else}}
			<p>
				This theme does not yet have any topics.
			</p>
		{{/each}}
		<p>
			<button class="add-topic-button compact green ui button"><i class="plus icon"></i> Add Topic</button>
		</p>
	</div>
</template>
