<!--
data context: theme
-->
<template name="themeCard">
	<a class="card" href="{{pathFor 'themePage' courseId=courseId themeId=_id}}">
		<div class="content">
			<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
			<div class="header">
				{{#if title}}
					{{title}}
				{{else}}
					<i>Untitled theme</i>
				{{/if}}
			</div>
			<div class="description">
				{{description}}
			</div>
		</div>
		{{#if currentUser}}
			{{#if isOnTeachingTeam courseId}}
				<div class="extra content">
					{{#if equals status "hidden"}}
		        <i class="hide icon"></i> Hidden
				  {{else}}
		        <!--status is either "showing" or not defined -->
            <i class="yellow unhide icon"></i> Showing
				  {{/if}}
				</div>
			{{/if}}
			{{#if isRegisteredAsStudent courseId}}
				<div class="extra content">
					<div class="meta">
						<span class="right floated created">
							{{getTopicsMasteredCountForTheme _id}} of {{getTopicCountForTheme _id}} topics mastered
						</span>
					</div>
				</div>
			{{/if}}
		{{/if}}
	</a>
</template>
