<template name="practiceProblemDifficultyHistogram">
	<table>
		{{#each getDifficultyHistogram _id}}
			<tr>
				<td align="right" style="padding-right: 5px">
					{{label}}
				</td>
				<td>
					<div style="background: #fff3c6; height: 16px; width: 104px; padding: 2px"><div style="background: #ffcb00; height: 12px; width: {{percentage}}px"></div></div>
				</td>
				<td style="padding-left: 5px">
					{{count}}
				</td>
			</tr>
		{{/each}}
	</table>
</template>
