<template name="topicSolvedPracticeProblemListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{topic.title}}
				<div class="sub header">
					<a href="{{pathFor 'themePage' courseId=courseId themeId=theme._id}}">{{theme.title}}</a>
				</div>
				<div class="sub header">
					Grade: {{topic.masteryRequiredForGrade}}+
				</div>
			</div>
		</h1>
		{{>topicPageMenu}}
		<h2 class="ui dividing header">
			Practice Problems
		</h2>
		{{>topicPracticeProblemMenu}}
		<h3 class="ui dividing header">
			<div class="content">
				Practice Problems Solved by You
				<div class="sub header">
					On topic "{{topic.title}}"
				</div>
			</div>
		</h3>
		{{#if countPracticeProblemSolutions topic._id}}
			{{#with findPracticeProblemSolutions topic._id}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			You have not yet solved any practice problems for this topic.
			Why not <a href="{{pathFor 'topicUnsolvedPracticeProblemListPage' courseId=course._id topicId=topic._id}}">solve one</a>?
		{{/if}}
	</div>
</template>
