<template name="studyTaskTextbookDetail">
	<h3 class="ui header">
		Textbook sections to read
	</h3>
	<div class="two fields">
		<div class="field">
			<label>Book:</label>
			<div class="book-dropdown ui fluid search selection dropdown">
				<input type="hidden" name="book" class="book-input">
				<i class="dropdown icon"></i>
				<div class="default text">Select Book</div>
				<div class="menu">
						<div class="item" data-value="">No book</div>
						{{#each getBooks studyTask.courseId}}
							<div class="item" data-value="{{_id}}"><i class="small book icon"></i>{{title}}</div>
						{{/each}}
				</div>
				{{updateBookDropdown}}
			</div>
		</div>
		<div class="field">
			<label>Chapter:</label>
			<div class="chapter-dropdown ui fluid search selection dropdown">
				<input type="hidden" name="chapter" class="chapter-input">
				<i class="dropdown icon"></i>
				<div class="default text">Select Chapter</div>
				<div class="menu">
					<div class="item" data-value="">No chapter</div>
					{{#each getChaptersOfSelectedBook}}
						<div class="item" data-value="{{_id}}">{{number}}. {{title}}</div>
					{{/each}}
				</div>
				{{updateChapterDropdown}}
			</div>
		</div>
	</div>
	<div class="field">
		<label>Sections:</label>
		<div class="ui celled list">
			{{#each getSectionsOfSelectedChapter}}
				{{>studyTaskBookSectionItem}}
			{{/each}}
		</div>
	</div>
</template>
