<template name="studyTaskRecallsPage">
  {{>studyTaskPageHeader}}
	{{>studyTaskPageMenu}}

	<div class="ui attached feature segment">
    <h3 class="ui header">Recalls</h3>
    <p>
      {{countStartedStatuses studyTask._id}} started,
      {{countFinishedStatuses studyTask._id}} finished,
      {{countRecalledStatuses studyTask._id}} recalled.
      {{#with getMostRecentlyStartedStatus studyTask._id}}
        The most recent task started {{formatDateFromNow this.startedDate}}.
      {{/with}}
    </p>
    {{#if countRecalledStatuses studyTask._id}}
      <h4 class="ui header">All {{countRecalledStatuses studyTask._id}} Recalls of this study task</h4>
      {{#each getRecalledStatuses studyTask._id}}
        <div class="ui inverted blue segment">
          {{recallText}}
        </div>
        <div class="ui grid">
          <div class="six wide column">
            {{#with getUser userId}}
              {{> userStatusLabel user=this courseId=../courseId}}
            {{/with}}
          </div>
          <div class="ten wide column">
            Last saved: <strong>{{formatDate modificationDate}}</strong> at {{formatTime modificationDate}}
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</template>
