<template name="studyTaskEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{studyTask.title}}
				<div class="sub header">
					Topic
					<a href="{{pathFor 'topicPage' courseId=course._id topicId=topic._id}}">{{topic.title}}</a>
					in theme
					<a href="{{pathFor 'themePage' courseId=course._id themeId=theme._id}}">{{theme.title}}</a>
				</div>
			</div>
		</h1>
		<form class="ui form">
			<div class="field">
				<label>Title:</label>
				<input type="text" name="title" placeholder="Short title" value="{{studyTask.title}}">
			</div>
			<div class="field">
				<label>Short Description:</label>
				<input type="text" name="description" placeholder="One-sentence description of the contents of this study task" value="{{studyTask.description}}">
			</div>
			<div class="field">
				<label>Kind:</label>
				<div class="kind-dropdown ui fluid selection dropdown">
					<input type="hidden" name="kind" class="kind-input">
					<i class="dropdown icon"></i>
					<div class="default text">Select Kind</div>
					<div class="menu">
						<div class="item" data-value="">No kind</div>
						<div class="item" data-value="Textbook"><i class="{{iconForStudyTaskKind "Textbook"}} icon"></i> Textbook</div>
						<div class="item" data-value="ClassSession"><i class="{{iconForStudyTaskKind "ClassSession"}} icon"></i> Class Session</div>
						<div class="item" data-value="Video"><i class="{{iconForStudyTaskKind "Video"}} icon"></i> Video</div>
						<div class="item" data-value="Exercise"><i class="{{iconForStudyTaskKind "Exercise"}} icon"></i> Exercise</div>
						<div class="item" data-value="Paper"><i class="{{iconForStudyTaskKind "Paper"}} icon"></i> Paper</div>
						<div class="item" data-value="Web"><i class="{{iconForStudyTaskKind "Web"}} icon"></i> Web</div>
						<div class="item" data-value="Explanation"><i class="{{iconForStudyTaskKind "Explanation"}} icon"></i> Explanation</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label>Estimated Duration:</label>
				<div class="ui right labeled input">
					<input type="text" name="duration" class="duration-field" placeholder="duration" value="{{studyTask.duration}}">
					<div class="ui basic label">minutes</div>
				</div>
			</div>
			<div class="field">
				<label>Complete Description:</label>
				{{>markdownLabel}}
				<textarea name="body" placeholder="Complete description of this study task">{{studyTask.body}}</textarea>
			</div>
			{{#if selectedKindIs "ClassSession"}}
				{{>studyTaskClassSessionDetail}}
			{{/if}}
			{{#if selectedKindIs "Textbook"}}
				{{>studyTaskTextbookDetail}}
			{{/if}}
			<button class="ui blue submit button">Update Study Task</button>
		</form>
	</div>
</template>
