<!--
context:
studentRegistration
courseId
-->
<template name="communityStudentPhotoCard">
  <div class="card">
    {{#if getPhoto studentRegistration._id}}
      {{>communityStudentPhotoCardPhoto}}
    {{else}}
      <div class="image">
        {{>communityStudentPhotoUploadArea}}
      </div>
    {{/if}}
    <div class="content">
      {{#with getUser studentRegistration.studentId}}
        <a href="{{pathFor 'userPage' courseId=../courseId userId=_id}}" class="ui {{#if status.pomodoroOngoing}}red{{else}}{{#if status.idle}}yellow{{else}}{{#if status.online}}green{{/if}}{{/if}}{{/if}} label">
          {{profile.firstName}} {{profile.lastName}}
        </a>
      {{/with}}
    </div>
  </div>
</template>
