<!--
We use a separate template for this so we can execute JavaScript
whenever this is rendered for the first time.
Context:
studentRegistration
courseId
-->
<template name="communityStudentPhotoCardPhoto">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <div class="ui red inverted button remove-photo-button">Remove Photo</div>
        </div>
      </div>
    </div>
    {{#with getPhoto studentRegistration._id}}
      <img src="{{getPhotoLink}}">
    {{/with}}
  </div>
</template>
