<template name="communityAddStudentsPage">
  <div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="users icon"></i>
			<div class="content">
				Community
				<div class="sub header">
					The {{getStudentCount _id}}
					students and the teaching team of
					{{abbreviation}} {{instance}}
				</div>
			</div>
		</h1>
		{{>communityPageMenu}}
    <h2 class="ui dividing header">
      <div class="content">
        Add Students
      </div>
    </h2>
    <p>
      There are three ways to get students registered in this course.
    </p>
    <h3 class="ui dividing header">
      <div class="content">
        1. Student Self-Registration and Instructor Approval
      </div>
    </h3>
    <p>
      Students can create Informa accounts themselves.
      And once they have an account,
      they also can themselves <b>register</b> for this course.
      However, a teaching team member has to <b>approve</b> their course registration,
      before the students can actively participate in the course.
      If a student has not been approved yet,
      their page provides an approval button for the teaching team.
    </p>
    <h3 class="ui dividing header">
      <div class="content">
        2. Register Existing Informa Users as Students
      </div>
    </h3>
    <p>
      The teaching team can register existing Informa users as students for this course
      (this registers and approves those students in a single step).
    </p>
    {{#with makeSettings _id}}
      {{#with findUsers ../_id}}
        {{> reactiveTable collection=this settings=..}}
      {{/with}}
    {{/with}}
    <h3 class="ui dividing header">
      <div class="content">
        3. Bulk-Register Students
      </div>
    </h3>
    <p>
      The teaching team can bulk-create/register students by providing a list
      (which creates the accounts where needed, registers, and approves).
    </p>
    <p>
      Enter a comma-delimited table of students, with the following fields:
    </p>
    <ul>
      <li>First name</li>
      <li>Last name</li>
      <li>Institutional email address (e.g., xxx@usi.ch)</li>
    </ul>
    <form class="bulk-register-students-form ui form">
			<div class="field">
				<label>Enter table of students here</label>
				<textarea name="students" class="students-field" placeholder="One line per student (First,Last,Email)"></textarea>
			</div>
			<button class="ui blue submit button">Parse and Preview</button>
		</form>

		{{> communityBulkStudentRegistrationPreview students=getStudents courseId=_id}}

  </div>
</template>
