<template name="misconceptionListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
      {{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'misconceptionListEditPage' courseId=course._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="bug icon"></i>
			<div class="content">
				Misconceptions
				<div class="sub header">
					{{abbreviation}} {{instance}} has
					{{getMisconceptionCountForCourse _id}} misconceptions
				</div>
			</div>
		</h1>
	</div>
	<div class="ui attached feature segment">


    <div class="ui grid">
      {{#each getTopicsForCourse _id}}
        {{#if countMisconceptionsForTopic _id}}
          <div class="sixteen wide column">
            <div class="ui header">
              {{#with getTheme themeId}}
                <i class="circular inverted {{color}} {{icon}} icon"></i>
              {{/with}}
              <div class="content">
                <a href="{{pathFor 'topicPage' courseId=courseId topicId=_id}}">
                  {{#if title}}
                    {{title}}
                  {{else}}
                    <i>Untitled topic</i>
                  {{/if}}
                </a>
                <div class="sub header">
                  {{#with getTheme themeId}}
                    {{title}}
                  {{/with}}
                </div>
              </div>
            </div>

            <div class="ui celled list">
        			{{#each getMisconceptionsForTopic _id}}
        				<div class="item">
        					<i class="bug icon"></i>
        					<div class="content">
        						<div class="header">
                      <a href="{{pathFor 'misconceptionPage' courseId=courseId misconceptionId=_id}}">
                        {{#if title}}
                          {{title}}
                        {{else}}
                          <i>no name</i>
                        {{/if}}
                      </a>
                    </div>
        						<div>{{#markdownFix}}{{description}}{{/markdownFix}}</div>
        					</div>
        				</div>
        			{{/each}}
        		</div>

          </div>
        {{/if}}
      {{/each}}
    </div>

    {{#if countMisconceptionsWithoutTopic _id}}
      <h2 class="ui header">Misconception not associated with any topic</h2>
      <div class="ui celled list">
  			{{#each getMisconceptionsWithoutTopic _id}}
  				<div class="item">
  					<i class="bug icon"></i>
  					<div class="content">
  						<div class="header">
                <a href="{{pathFor 'misconceptionPage' courseId=courseId misconceptionId=_id}}">
                  {{#if title}}
                    {{title}}
                  {{else}}
                    <i>no name</i>
                  {{/if}}
                </a>
              </div>
  						<div>{{#markdownFix}}{{description}}{{/markdownFix}}</div>
  					</div>
  				</div>
  			{{/each}}
  		</div>
    {{/if}}

		{{#each getMisconceptionsForCourse _id}}
		{{else}}
      <h2 class="ui center aligned disabled icon header">
        <i class="bug icon"></i>
        No Misconceptions Yet
        {{#if isRegisteredAsInstructor courseId}}
          <div class="sub header">
            <a href="{{pathFor 'misconceptionListEditPage' courseId=course._id}}">Add some</a>
          </div>
        {{/if}}
      </h2>
		{{/each}}
  </div>
</template>
