<template name="topicRow">
	<tr>
		<td class="collapsing">
			{{#with getTheme themeId}}
				<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
			{{/with}}
			<a href="{{pathFor "topicPage" courseId=courseId topicId=_id}}">
				{{#if title}}
					{{title}}
				{{else}}
					<i>Untitled topic</i>
				{{/if}}
			</a>
		</td>
		{{#if isRegisteredAsStudent courseId}}
			<td>
				<div class="ui small progress">
				    <div class="bar">
				    	<div class="progress"></div>
				    </div>
				</div>
				{{updateProgressBar _id}}
			</td>
			<td class="collapsing">
				{{#if hasTopicBeenMastered _id}}
					<i class="trophy icon"></i> Mastered
				{{else}}
					{{#if hasMasteryCheckRegistration}}
						{{#if isTopicRegisteredForMasteryCheck _id}}
							<button class="remove-topic-to-check-button compact red ui button">Remove</button>
						{{else}}
							<button class="add-topic-to-check-button compact green ui button">Add</button>
						{{/if}}
					{{else}}
					{{/if}}
				{{/if}}
			</td>
		{{/if}}
		{{#if isOnTeachingTeam courseId}}
			<td class="collapsing">
				<i class="green check square icon"></i> {{countAllStudentsPassedTopicChecksForTopic _id}}
			</td>
			<td class="collapsing">
				<i class="red minus circle icon"></i> {{countAllStudentsFailedTopicChecksForTopic _id}}
			</td>
			<td class="collapsing">
				<i class="blue help circle icon"></i> {{countAllStudentsQuestionsForTopic _id}}
			</td>
			<td class="collapsing">
				<i class="teal university icon"></i> {{countAllPublishedUnarchivedPracticeProblemsForTopic _id}}
			</td>
		{{/if}}
		<td class="right aligned collapsing">
			{{masteryRequiredForGrade}}+
		</td>
	</tr>
</template>
