<template name="topicPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui label">
					<a href="{{pathFor 'topicPrint' courseId=courseId topicId=topic._id}}"><i class="ui print icon"></i> Print &nbsp;&nbsp;12345678</a>
				</div>
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'topicEditPage' courseId=courseId topicId=topic._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{#if topic.title}}
					{{topic.title}}
				{{else}}
					<i>Untitled topic</i>
				{{/if}}
				<div class="sub header">
					<a href="{{pathFor 'themePage' courseId=courseId themeId=theme._id}}">
						{{#if theme.title}}
							{{theme.title}}
						{{else}}
							<i>Untitled theme</i>
						{{/if}}
					</a>
				</div>
				{{#with getCourse courseId}}
					{{#if masteryChecksDetermineGrade}}
						<div class="sub header">
							Grade: {{topic.masteryRequiredForGrade}}+
						</div>
					{{/if}}
				{{/with}}
			</div>
		</h1>
	</div>
	<div class="ui attached feature segment">
		{{#if isOnTeachingTeam courseId}}
			{{>topicStatusPanel}}
		{{/if}}
		{{>topicPageMenu}}
		<p>
			<strong>Contents: </strong>
			{{topic.description}}.
		</p>
		{{#if topic.why}}
			<p class="ui {{theme.color}} ribbon label"><strong>Why</strong> master this topic?</p>
			<p>
				{{#markdownFix}}{{topic.why}}{{/markdownFix}}
			</p>
		{{/if}}
	</div>
	{{#if isRegisteredAsStudent topic.courseId}}
		<div class="ui attached feature segment">
			<div class="ui grid">
				<div class="eight wide column">
					<div id="progress" class="ui progress">
				    <div class="bar">
				    	<div class="progress"></div>
				    </div>
						<div class="label">% skills ready</div>
					</div>
					{{updateProgressBar topic._id}}
				</div>
				{{#unless hasTopicBeenMastered topic._id}}
					<div class="eight wide column">
						{{#if isTopicRegisteredForMasteryCheck topic._id}}
							<div class="ui info message">
								<div class="header">
									Scheduled for Mastery Check
								</div>
								<p>
									This topic is included in your
									<a href="{{pathFor 'masteryCheckPreparationPage' _id=topic.courseId}}">next mastery check</a>.
									Would you like to <i>not</i> check it yet?
								</p>
								<button class="remove-topic-to-check-button compact red ui button">Remove</button>
							</div>
						{{else}}
							{{#if hasMasteryCheckRegistration}}
								<div class="ui info message">
									<div class="header">
										Schedule for Mastery Check?
									</div>
									<p>
										Would you like to add this topic to your next mastery check?
									</p>
									<button class="add-topic-to-check-button compact green ui button">Add</button>
								</div>
							{{else}}
								<div class="ui info message">
									<div class="header">
										Schedule for Mastery Check?
									</div>
									<p>
										Would you like to add this topic to your next mastery check?
										Then first prepare a check
										(pick a lab on which to check topics)
										on the <A href="{{pathFor 'masteryCheckPreparationPage' _id=topic.courseId}}">mastery check preparation page</A>.
									</p>
								</div>
							{{/if}}
						{{/if}}
					</div>
				{{else}}
					<div class="eight wide column">
						{{#with getSuccessfulTopicCheckForTopic topic._id}}
							<a href="{{pathFor 'newMasteryCheckPage' courseId=courseId masteryCheckId=masteryCheckId}}">
								<div class="ui green label">
									<i class="trophy icon"></i>
									Mastered on
									{{formatDate endDate}}
								</div>
							</a>
						{{/with}}
					</div>
				{{/unless}}
			</div>

			{{#unless hasTopicBeenMastered topic._id}}
				{{#each getTopicChecksForTopic topic._id}}
					<div class="ui warning message">
						<h4 class="ui header">Mastery Check Feedback</h4>
						<p>
							{{#markdownFix}}{{feedback}}{{/markdownFix}}
						</p>
						<div class="ui bottom right attached yellow label">
							<a href="{{pathFor 'newMasteryCheckPage' courseId=courseId masteryCheckId=masteryCheckId}}">
								{{formatDate endDate}}
								by
								{{#with getUser testerId}}
									{{profile.firstName}}
								{{/with}}
							</a>
						</div>
					</div>
				{{/each}}
			{{/unless}}
		</div>
	{{/if}}


	<div class="ui attached feature segment">
		<h2 class="ui header">Skills</h2>
		<div class="ui segments">
			{{#each skills topic._id}}
				<div class="ui basic {{#if hasOwnBookmark _id}}tertiary inverted red{{/if}} segment" id="skill_{{_id}}">
					<div class="ui grid">
						<div class="one wide column">
							<i class="large bullseye icon"></i>
						</div>
						<div class="eleven wide column">
							<div class="ui small header">{{title}}</div>
							<div class="description">{{description}}</div>
						</div>
						<div class="three wide column" style="padding-left: 0px; padding-right: 0px">
							{{#if isRegisteredAsStudent ../topic.courseId}}
								{{#if isSkillGreen _id}}
									<button class="clear-button right floated compact green ui icon button" style="margin-left: 2px"><i class="checkmark icon"></i></button>
								{{else}}
									<button class="set-green-button right floated compact ui icon button" style="margin-left: 2px"><i class="checkmark icon"></i></button>
								{{/if}}
								{{#if isSkillAmber _id}}
									<button class="clear-button right floated compact yellow ui icon button" style="margin-left: 2px"><i class="help icon"></i></button>
								{{else}}
									<button class="set-amber-button right floated compact ui icon button" style="margin-left: 2px"><i class="help icon"></i></button>
								{{/if}}
								{{#if isSkillRed _id}}
									<button class="clear-button right floated compact red ui icon button" style="margin-left: 0px"><i class="remove icon"></i></button>
								{{else}}
									<button class="set-red-button right floated compact ui icon button" style="margin-left: 0px"><i class="remove icon"></i></button>
								{{/if}}
							{{/if}}
						</div>
						<div class="one wide column">
							{{#if isRegisteredAsAnything ../topic.courseId}}
								{{>annotationButton skillId=_id}}
							{{/if}}
						</div>
					</div>
					{{#if hasAnnotationsToDisplay _id}}
						<div class="ui right attached annotation rail">
							{{#each getOwnAnnotations _id}}
								{{> annotation }}
							{{/each}}
							{{#each getOtherQuestions _id}}
								{{> annotation }}
							{{/each}}
						</div>
					{{/if}}
				</div>
			{{/each}}
		</div>
		<h2 class="ui header">How to Study</h2>
		{{#if topic.studyGuide}}
			{{#markdownFix}}{{topic.studyGuide}}{{/markdownFix}}
		{{/if}}

		<h3 class="ui header">
			<div class="content">
				Learn
				<div class="sub header">
					Acquire these skills by reading, watching, and working through these study tasks
				</div>
			</div>
		</h3>
		<div class="ui celled list">
			{{#each studyTasks topic._id}}
				{{>studyTaskItem}}
			{{/each}}
		</div>

		<h3 class="ui header">
			<div class="content">
				Practice
				<div class="sub header">
					Practice these skills by solving practice problems
				</div>
			</div>
		</h3>
		{{#if countFeaturedPracticeProblems topic._id}}
			<div class="ui celled list">
				{{#each findFeaturedPracticeProblems topic._id}}
					<div class="item">
						<a href="{{pathFor 'viewPracticeProblemPage' courseId=courseId topicId=topicId practiceProblemId=_id}}"><div class="right floated compact ui button">More...</div></a>
						{{#if haveSolvedPracticeProblem _id}}
							<i class="right floated big green check circle icon"></i>
						{{/if}}
						{{#if isMe userId}}
							<i class="right floated big green user icon"></i>
						{{/if}}
						<i class="university icon"></i>
						<div class="content">
							<div class="header">{{>clickablePracticeProblemTitle}}</div>
							<div>
								Solutions: <strong>{{>practiceProblemSolutionCount}}</strong> <span style="color:#a0a0a0; margin-left:5px; margin-right:5px">&bull;</span>
								Difficulty: <strong>{{>practiceProblemDifficultyRating}}</strong> <span style="color:#a0a0a0; margin-left:5px; margin-right:5px">&bull;</span>
								Quality: <strong>{{>practiceProblemQualityRating}}</strong>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		{{/if}}
		{{#if countOtherPracticeProblems topic._id}}
			{{#if countFeaturedPracticeProblems topic._id}}
				The short list above features problems we highly recommend you solve.
				We recommend you also look at, and provide feedback on, all the other
			{{else}}
				We recommend you look at, and provide feedback on, all the
			{{/if}}
			<a href="{{pathFor 'topicUnsolvedPracticeProblemListPage' courseId=courseId topicId=topic._id}}">
				problems you could solve
			</a>.
		{{else}}
			<p>
				There currently are no practice problems for you to solve on this topic.
			</p>
		{{/if}}

		<h3 class="ui header">
			<div class="content">
				Reflect
				<div class="sub header">
					Reflect on these skills by desiging your own practice problems
				</div>
			</div>
		</h3>
		{{#if countOwnPracticeProblems topic._id}}
			<div class="ui celled list">
				{{#each findOwnPracticeProblems topic._id}}
					<div class="item">
						<a href="{{pathFor 'viewPracticeProblemPage' courseId=courseId topicId=topicId practiceProblemId=_id}}"><div class="right floated compact ui button">More...</div></a>
						<i class="right floated big green check circle icon"></i>
						<i class="university icon"></i>
						<div class="content">
							<div class="header">{{>clickablePracticeProblemTitle}}</div>
							<div>
								Solutions: <strong>{{>practiceProblemSolutionCount}}</strong> <span style="color:#a0a0a0; margin-left:5px; margin-right:5px">&bull;</span>
								Difficulty: <strong>{{>practiceProblemDifficultyRating}}</strong> <span style="color:#a0a0a0; margin-left:5px; margin-right:5px">&bull;</span>
								Quality: <strong>{{>practiceProblemQualityRating}}</strong>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		{{else}}
			<p>
				You have not yet published any practice problems for this topic.
				{{#if countUnpublishedOwnPracticeProblems topic._id}}
					You already created
					<a href="{{pathFor 'topicOwnPracticeProblemListPage' courseId=course._id topicId=topic._id}}">{{countUnpublishedOwnPracticeProblems topic._id}} problems</a>,
					but you still have to publish them.
				{{else}}
					Please create one, make sure it's ok, and then publish it.
				{{/if}}
			</p>
		{{/if}}
		<p>
			<button class="ui green button create-practice-problem-button">Create Practice Problem</button>
		</p>

		<h3 class="ui header">
			<div class="content">
				Construct
				<div class="sub header">
					Construct software involving these skills
				</div>
			</div>
		</h3>
		<div class="ui celled list">
			{{#each getLabsForTopic topic._id}}
				<div class="item">
					<a href="{{pathFor 'labPage' courseId=course._id labId=_id}}"><div class="right floated compact ui button">More...</div></a>
					<i class="lab icon"></i>
					<div class="content">
						<div class="header"><a href="{{pathFor 'labPage' courseId=course._id labId=_id}}">{{title}}</a></div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each getLabsForTopic topic._id}}
		{{else}}
			<p>
				While no labs specifically mention this topic,
				working on the <a href="{{pathFor 'labListPage' courseId=course._id}}">labs</a> may well help you in better understanding this topic.
			</p>
		{{/each}}
	</div>
</template>
