<template name="fileLabCell">
  <a href="{{pathFor 'labTeamGradingPage' courseId=metadata.courseId labId=metadata.labId teamId=metadata.labTeamId}}">
    {{#with getLab metadata.labId}}
      {{title}}
    {{/with}}
  </a>
</template>
