<template name="quizPageMenu">
  {{#if isOnTeachingTeam courseId}}
  	<div class="ui secondary  menu">
  		<a class="{{isActiveRoute "quizPage"}} item" href="{{pathFor 'quizPage' courseId=courseId quizId=quiz._id}}">
  			<i class="home icon"></i> Show
  		</a>
  		<a class="{{isActiveRoute "quizOutcomePage"}} item" href="{{pathFor 'quizOutcomePage' courseId=courseId quizId=quiz._id}}">
        <i class="bar chart icon"></i> Outcome
  		</a>
      <a class="{{isActiveRoute "quizFeedbackPage"}} item" href="{{pathFor 'quizFeedbackPage' courseId=courseId quizId=quiz._id}}">
        <i class="announcement icon"></i> Feedback
  		</a>
  	</div>
  {{/if}}
</template>
