<template name="quizListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'quizListEditPage' courseId=course._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="checkmark box icon"></i>
			<div class="content">
				Quizzes
				<div class="sub header">Check your understanding of {{course.abbreviation}} {{course.instance}} topics</div>
			</div>
		</h1>
	</div>
	{{>quizListPageMenu}}
	<div class="ui attached feature segment">
		{{#if course.quizListIntroduction}}
			<p class="ui blue ribbon label"><strong>Why</strong> do the quizzes?</p>
			<p>
				{{#markdownFix}}{{course.quizListIntroduction}}{{/markdownFix}}
			</p>
		{{/if}}

    {{#each quizzes}}
    {{else}}
			<h2 class="ui center aligned disabled icon header">
			  <i class="checkmark box icon"></i>
			  No Quizzes Yet
				{{#if isRegisteredAsInstructor courseId}}
					<div class="sub header">Edit to create one</div>
				{{/if}}
			</h2>
    {{/each}}

    {{#if countTodaysQuizzes course._id}}
      <h3 class="ui dividing header">
  			<div class="content">
  				Today's Quiz
  			</div>
  		</h3>
      <div class="ui two cards">
        {{#each getTodaysQuizzes course._id}}
          {{>quizCard}}
        {{/each}}
      </div>
    {{/if}}

    {{#if countFutureQuizzes course._id}}
      <h3 class="ui dividing header">
  			<div class="content">
  				Upcoming Quizzes
          <div class="sub header">There are {{countFutureQuizzes course._id}} upcoming quizzes</div>
  			</div>
  		</h3>
      <div class="ui two cards">
        {{#each getFutureQuizzes course._id}}
          {{>quizCard}}
        {{/each}}
      </div>
    {{/if}}

    {{#if countPastQuizzes course._id}}
      <h3 class="ui dividing header">
  			<div class="content">
  				Past Quizzes
          <div class="sub header">There are {{countPastQuizzes course._id}} past quizzes</div>
  			</div>
  		</h3>
      <div class="ui two cards">
        {{#each getPastQuizzes course._id}}
          {{>quizCard}}
        {{/each}}
      </div>
    {{/if}}

	</div>
</template>
