<template name="quizStatusPanel">
  {{#if isOnTeachingTeam courseId}}
    {{#if equals quiz.status "hidden"}}
      <div class="ui message">
        <div class="header">
          <i class="hide icon"></i> Hidden
        </div>
        <div class="ui grid">
          <div class="twelve wide column">
            <p>
              This quiz is hidden and cannot be seen by students.
            </p>
          </div>
          <div class="four wide column">
            <a href="#" class="ui blue button show-button"><i class="unhide icon"></i> Show</a>
          </div>
        </div>
      </div>
    {{else}}
      <!--status is either "showing" or not defined -->
      <div class="ui message">
        <div class="header">
          <i class="unhide icon"></i> Showing
        </div>
        <div class="ui grid">
          <div class="twelve wide column">
            <p>
              This quiz can be seen by students.
            </p>
          </div>
          <div class="four wide column">
            <a href="#" class="ui button hide-button"><i class="hide icon"></i> Hide</a>
          </div>
        </div>
      </div>
      {{#if quiz.ongoing}}
        <div class="ui positive message">
          <div class="header">
            <i class="wait icon"></i> Quiz Ongoing!
          </div>
          <p>
            This quiz is currently ongoing.
            {{#with getUser quiz.startedBy}}
              {{#if this}}
                {{>userStatusLabel user=this courseId=../course._id}}
                started it at {{formatTime ../quiz.startDate}}.
              {{/if}}
            {{/with}}
          </p>
          <p>
            <a class="ui green button" href="{{pathFor 'quizRunPage' courseId=course._id quizId=quiz._id}}">Help Running Quiz</a>
          </p>
        </div>
      {{else}}
        {{#if isToday quiz.date}}
          {{#if quiz.stopDate}}
            <div class="ui warning message">
              <div class="header">
                This quiz is scheduled for today, and has already been run
              </div>
              <p>
                It was run on {{formatDate quiz.startDate}}.
              </p>
              <ul>
                <li>Started at: <strong>{{formatTime quiz.startDate}}</strong></li>
                <li>Started by:
                  {{#with getUser quiz.startedBy}}
                    {{#if this}}
                      {{>userStatusLabel user=this courseId=../course._id}}
                    {{/if}}
                  {{/with}}
                </li>
                <li>Ended at: <strong>{{formatTime quiz.stopDate}}</strong></li>
                <li>Ended by:
                  {{#with getUser quiz.stoppedBy}}
                    {{#if this}}
                      {{>userStatusLabel user=this courseId=../course._id}}
                    {{/if}}
                  {{/with}}
                </li>
                <li>
                  Student submissions: <strong>{{getQuizAttemptCounts quiz._id quiz.startDate}}</strong>
                </li>
              </ul>
              <p>
                If you start the quiz again, those prior student submissions will be ignored,
                which means those students will have to do the quiz again!
              </p>
              <p>
                Start the quiz again, and then indicate which students are allowed to take it.</p>
              <button class="start-quiz-button yellow ui icon button"><i class="play icon"></i> Start Quiz Again, Ignoring Submissions from Prior Run</button>
            </div>
          {{else}}
            <div class="ui success message">
              <div class="header">
                This quiz is scheduled for today
              </div>
              <p>Start it here and then indicate which students are allowed to take it.</p>
              <button class="start-quiz-button green ui icon button"><i class="play icon"></i> Start Quiz</button>
            </div>
          {{/if}}
        {{else}}
          <!-- not scheduled for today -->
          {{#if quiz.stopDate}}
            <div class="ui negative message">
              <div class="header">
                <i class="stop circle icon"></i> Quiz Ended
              </div>
              <p>
                This quiz ended on {{formatDateTime quiz.stopDate}}.
              </p>
              <p>
                Student submissions: <strong>{{getQuizAttemptCounts quiz._id quiz.startDate}}</strong>
              </p>
            </div>
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
  {{#if isRegisteredAsStudent courseId}}
    {{#if quiz.ongoing}}
      <div class="ui positive message">
        <div class="header">
          <i class="wait icon"></i> Quiz Ongoing!
        </div>
        <p>
          This quiz is currently ongoing.
          It started at {{formatTime quiz.startDate}}.
          You need to be in the classroom to take it.
        </p>
        <p>
          <a class="ui green button" href="{{pathFor 'quizTakePage' courseId=course._id quizId=quiz._id}}">Take Quiz!</a>
        </p>
      </div>
    {{else}}
      {{#if quiz.stopDate}}
        <div class="ui negative message">
          <div class="header">
            <i class="stop circle icon"></i> Quiz Ended
          </div>
          <p>
            This quiz ended on {{formatDateTime quiz.stopDate}}.
          </p>
          {{#if getMyQuizAttempt quiz._id}}
            {{#with getMyQuizAttempt quiz._id}}
              <p>
                You took the quiz. <a href="{{pathFor 'userQuizAttemptPage' courseId=courseId userId=studentId quizAttemptId=_id}}">Check your results</a>.
              </p>
            {{/with}}
          {{else}}
            <p>You did not take this quiz.</p>
          {{/if}}
        </div>
      {{else}}
        {{#if equals quiz.status "hidden"}}
          <!-- should not happen for students...-->
        {{else}}
          <div class="ui warning message">
            <div class="header">
              <i class="unhide icon"></i> Scheduled
            </div>
            <p>
              To prepare for this quiz, study the listed topics.
            </p>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</template>
