<!--
queued registrations in the course
for teaching team only
-->
<template name="masteryCheckQueuePage">
  {{>masteryCheckListPageHeader}}
	{{>masteryCheckListPageMenu}}
  <div class="ui attached feature segment">
    {{#if isOnTeachingTeam courseId}}
      {{#if getOngoingMasteryCheckSession courseId}}
        {{#with getOngoingMasteryCheckSession courseId}}
          <h3 class="ui header">
            <div class="content">All Queued Checks</div>
          </h3>
          <div class="ui grid">
    				<div class="four wide column">
    					Start time: <strong>{{formatTime startDate}}</strong>
    				</div>
    				<div class="six wide column">
              <i class="spinner icon"></i>
    	        Duration:
              <strong>{{determineDuration startDate}} minutes</strong>
    	      </div>
    				<div class="six wide right aligned column">
    					Started by:
    					{{#with getUser startedBy}}
    						{{#if this}}
    							{{>userStatusLabel user=this courseId=course._id}}
    						{{/if}}
    					{{/with}}
    				</div>
    	    </div>
          <table class="ui table">
        		<thead>
        			<tr>
        				<th class="collapsing">Enqueued</th>
        				<th class="collapsing">Students</th>
                <th>Lab</th>
        				<th>Topics</th>
                <th class="collapsing">Action</th>
        			</tr>
        		</thead>
        		<tbody>
              {{#each getMasteryCheckQueueEntries _id}}
                <tr>
                  <td>
        						{{formatTime creationDate}}
        					</td>
                  {{#with getMasteryCheckRegistration masteryCheckRegistrationId}}
          					<td>
                      {{#each studentIds}}
            						{{#with getUser .}}
            							{{> userStatusLabel user=this courseId=courseId}}
            						{{/with}}
                      {{/each}}
          					</td>
                    <td>
                      {{#if getLab labId}}
                        {{#with getLab labId}}
                          <p>
                            <i class="small circular lab icon"></i>
                            <a href="{{pathFor 'labPage' courseId=courseId labId=_id}}">{{title}}</a>
                          </p>
                        {{/with}}
                      {{else}}
                        <p><i>No lab</i></p>
                      {{/if}}
                    </td>
          					<td>
          						<div class="ui divided list">
          							{{#each topicIds}}
          								<div class="item">
          									{{#with getTopic .}}
          										{{#with getTheme themeId}}
          											<i class="circular inverted {{color}} {{icon}} icon"></i>
          										{{/with}}
          									{{/with}}
        										<div class="content">
          										{{#with getTopic .}}
          											<a href="{{pathFor "topicPage" courseId=courseId topicId=_id}}">{{title}}</a>
          										{{/with}}
          									</div>
          								</div>
          							{{/each}}
          						</div>
          					</td>
                    <td>
                      <div class="start-mastery-check-button ui compact blue icon button">
              					<i class="play icon"></i>
              				</div>
                    </td>
                  {{/with}}
                </tr>
              {{else}}
                <tr>
        					<td colspan="4">
        						Queue empty.
        					</td>
        				</tr>
              {{/each}}
            </tbody>
          </table>
        {{/with}}
        <p>
          Note: Stopping this session will require all students to queue up again.
        </p>
        <p>
          <button class="stop-mastery-check-session-button ui red button">Stop Session</button>
        </p>
      {{else}}
        <h3 class="ui header">
          <div class="content">Start Mastery Check Session</div>
        </h3>
        <p>
          <button class="start-mastery-check-session-button ui green button">Start Session</button>
        </p>
      {{/if}}
    {{/if}}
  </div>
</template>
