<template name="newSkillCheckRow">
	<tr>
		{{#with getSkill skillId}}
			<td class="center aligned collapsing"><i class="bullseye icon"></i></td>
			<td><strong>{{title}}</strong><br>{{#markdownFix}}{{description}}{{/markdownFix}}</td>
			<td class="collapsing">
				{{#if ../../../finished}}
					{{#if ../mastered}}
						<i class="green checkmark icon"></i>
					{{else}}
						not yet
					{{/if}}
				{{else}}
					{{#if ../mastered}}
						<button class="clear-mastered-button right floated compact green ui icon button"><i class="checkmark icon"></i></button>
					{{else}}
						<button class="set-mastered-button right floated compact ui icon button"><i class="checkmark icon"></i></button>
					{{/if}}
				{{/if}}
			</td>
		{{/with}}
	</tr>
</template>
