<template name="newTopicCheckTablePart">
	<thead>
		<tr>
			{{#with getTopic topicId}}
				<th class="collapsing">
					{{#with getTheme themeId}}
						<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
					{{/with}}
				</th>
				<th>
					<strong>{{title}}</strong>
				</th>
				<th class="collapsing">
					{{#if ../mastered}}
						<div class="ui label"><i class="trophy icon"></i>Mastered</div>
					{{else}}
						Mastered?
					{{/if}}
				</th>
			{{/with}}
		</tr>
	</thead>
	<tbody>
		{{#each getSkillChecksForTopicCheck _id}}
			{{>newSkillCheckRow}}
		{{/each}}
		<tr style="color: #7d6c00; background-color: #fffbe6">
			<td></td>
			<td>
				{{#if ../finished}}
					{{#if feedback}}
						<p>
							<strong>Feedback:</strong>
							<br>
							{{#markdownFix}}{{feedback}}{{/markdownFix}}
						</p>
					{{else}}
						<p><i>No feedback.</i></p>
					{{/if}}
				{{else}}
					<div class="ui form">
						<div class="field">
							{{#with getTopic topicId}}
								<label>Feedback for student on their {{title}} skills</label>
							{{/with}}
							{{>markdownLabel}}
							<textarea class="topic-feedback" placeholder="Enter actionable feedback">{{feedback}}</textarea>
						</div>
					</div>
				{{/if}}
			</td>
			<td></td>
		</tr>
	</tbody>
</template>
