<template name="labCard">
	<a class="card" href="{{pathFor "labPage" courseId=course._id labId=_id}}">
    <div class="content">
			<i class="right floated large black lab icon"></i>
			<div class="header">
				{{#if title}}
					{{title}}
				{{else}}
					<i>Untitled lab</i>
				{{/if}}
			</div>
			<div class="description">
				{{description}}
			</div>
		</div>
		{{#if deadlineDate}}
			<div class="extra content">
	      <span class="right floated">
	        {{formatTimeHoursMinutes deadlineDate}}
	      </span>
	      <span>
	        {{formatDate deadlineDate}}
	      </span>
	    </div>
		{{/if}}
		<div class="extra content">
			<span class="right floated">
				{{#if greaterThan groupSize 1}}
					Teams of {{groupSize}}
				{{else}}
					{{#if equals groupSize 1}}
						Individual
					{{else}}
						(team size undefined)
					{{/if}}
				{{/if}}
			</span>
			{{#if equals status "hidden"}}
        <i class="hide icon"></i> Hidden
		  {{else}}
		    {{#if equals status "open"}}
          <i class="green unlock icon"></i> Open
		    {{else}}
		      {{#if equals status "closed"}}
            <i class="red lock icon"></i> Closed
		      {{else}}
		        <!--status is either "preview" or not defined -->
            <i class="yellow unhide icon"></i> Preview
		      {{/if}}
		    {{/if}}
		  {{/if}}
		</div>
		{{#if currentUser}}
			{{#if isRegisteredAsStudent courseId}}
			  <div class="extra content">
					<div class="meta">
						<span class="right floated created">
							{{countOwnSubmissions _id}} of {{countQuestionItems _id}} answers
						</span>
					</div>
				</div>
			{{/if}}
		{{/if}}
	</a>
</template>
