<!-- data context:
course
lab
-->
<template name="labFeedbackPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="lab icon"></i>
			<div class="content">
				{{lab.title}}
				<div class="sub header">{{lab.description}}</div>
			</div>
		</h1>
		{{#if lab.deadlineDate}}
			<p>
				Submission deadline: <strong>{{formatDate lab.deadlineDate}}</strong> at <strong>{{formatTimeHoursMinutes lab.deadlineDate}}</strong>
			</p>
		{{/if}}
		{{>labPageMenu}}
    <h2 class="ui header">Feedback from Students</h2>
    <div class="ui comments">
      <h3 class="ui header">Positive Comments</h3>
      {{#each labFeedbacks}}
        {{#if labPositive}}
          <div class="comment">
            <a class="avatar">
              {{#with getUser userId}}
                <img src="{{gravatarUrl this}}">
              {{/with}}
            </a>
            <div class="content">
              {{#with getUser userId}}
                {{> userStatusLabel user=this courseId=../courseId}}
              {{/with}}
              <div class="metadata">
                <span class="date">{{formatDateFromNow modificationDate}}</span>
              </div>
              <div class="text">
                {{labPositive}}
              </div>
              <div class="actions">
                <a href="{{pathFor 'userLabFeedbackPage' courseId=courseId labId=labId userId=userId}}">Details</a>
              </div>
            </div>
          </div>
        {{/if}}
      {{/each}}
      <h3 class="ui header">Negative Comments</h3>
      {{#each labFeedbacks}}
        {{#if labNegative}}
          <div class="comment">
            <a class="avatar">
              {{#with getUser userId}}
                <img src="{{gravatarUrl this}}">
              {{/with}}
            </a>
            <div class="content">
              {{#with getUser userId}}
                {{> userStatusLabel user=this courseId=../courseId}}
              {{/with}}
              <div class="metadata">
                <span class="date">{{formatDateFromNow modificationDate}}</span>
              </div>
              <div class="text">
                {{labNegative}}
              </div>
              <div class="actions">
                <a href="{{pathFor 'userLabFeedbackPage' courseId=courseId labId=labId userId=userId}}">Details</a>
              </div>
            </div>
          </div>
        {{/if}}
      {{/each}}
		</div>
		<h3 class="ui header">Teamwork</h3>
		<div class="ui grid">
			{{#each teams lab._id}}
				<div class="sixteen wide column">
					<h4 class="ui dividing header">
						Team
						{{#each memberIds}}
							{{#with getUser this}}
								{{> userStatusLabel user=this courseId=courseId}}
							{{/with}}
						{{/each}}
					</h4>
				</div>
				{{#each memberIds}}
					<div class="three wide column">
						{{#with getUser this}}
							<div class="ui fluid card">
								<div class="image">
									<img src="{{gravatarUrl this}}">
								</div>
								<div class="content">
									{{> userStatusLabel user=this courseId=courseId}}
								</div>
								<!--
								<div class="extra content">
									<i class="green wait icon"></i> Added
								</div>
								-->
								{{#with getLabFeedbackForLabAndUser ../../../lab._id _id}}
									{{#if equals collaborationQuality "collaborationWorkedWell"}}
										<a href="{{pathFor 'userLabFeedbackPage' courseId=courseId labId=labId userId=userId}}" class="ui bottom attached green button">
											<i class="smile icon"></i>
										</a>
									{{else}}
										{{#if equals collaborationQuality "collaborationWorkedMostlyFine"}}
											<a href="{{pathFor 'userLabFeedbackPage' courseId=courseId labId=labId userId=userId}}" class="ui bottom attached yellow button">
												<i class="meh icon"></i>
											</a>
										{{else}}
											{{#if equals collaborationQuality "collaborationDidNotWorkWell"}}
												<a href="{{pathFor 'userLabFeedbackPage' courseId=courseId labId=labId userId=userId}}" class="ui bottom attached red button">
													<i class="frown icon"></i>
												</a>
											{{else}}
												<a href="{{pathFor 'userLabFeedbackPage' courseId=courseId labId=labId userId=userId}}" class="ui bottom attached button">
													<i class="help circle icon"></i>
												</a>
											{{/if}}
										{{/if}}
									{{/if}}
								{{else}}
									<div class="ui bottom attached disabled button">
										<i class="help circle icon"></i>
									</div>
								{{/with}}
							</div>
						{{/with}}
					</div>
					<div class="five wide column">
						{{#with getLabFeedbackForLabAndUser ../../lab._id this}}
							<div class="ui list">
								{{#if teamworkPositive}}
  								<div class="item">
    								<i class="smile icon"></i>
    								<div class="content">
      								{{teamworkPositive}}
    								</div>
  								</div>
								{{/if}}
								{{#if teamworkNegative}}
  								<div class="item">
    								<i class="frown icon"></i>
    								<div class="content">
      								{{teamworkNegative}}
    								</div>
  								</div>
								{{/if}}
								{{#if teamworkSelfImprovement}}
  								<div class="item">
    								<i class="bullseye icon"></i>
    								<div class="content">
      								{{teamworkSelfImprovement}}
    								</div>
  								</div>
								{{/if}}
								{{#if teamworkGradeCompensation}}
									<div class="item">
										<i class="red warning circle icon"></i>
										<div class="content">
											{{teamworkGradeCompensation}}
										</div>
									</div>
								{{/if}}
							</div>
						{{/with}}
					</div>
				{{/each}}
			{{/each}}
		</div>
  </div>
</template>
