<template name="labItemGradingPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="lab icon"></i>
			<div class="content">
				{{lab.title}}
				<div class="sub header">{{lab.description}}</div>
			</div>
		</h1>
		{{#if lab.deadlineDate}}
			<p>
				Submission deadline: <strong>{{formatDate lab.deadlineDate}}</strong> at <strong>{{formatTimeHoursMinutes lab.deadlineDate}}</strong>
			</p>
		{{/if}}
		{{>labPageMenu}}
		<a href="{{pathFor 'labGradingPage' courseId=courseId labId=lab._id}}">Back to lab grading page</a>
    <h2>Grade Item {{item.index}}</h2>
    <p>
      Once you have a reference solution and a grading rubric, you come here to grade.
      Distribute points according to your rubric.
      You can adjust your rubric items here (improve names, change points),
      and you can even add new items if needed.
      If you need to make more extensive changes to your rubric,
      you need to do that on the rubric page.
    </p>
    <p>
      You can provide additional comments, and you can adjust the points
      (just enter a positive or negative number).
      Ideally your rubric is so clear and complete
      that it's rarely necessary to add extra comments or adjust points.
    </p>
  </div>
  <div class="ui attached feature segment">
    <a class="ui top left attached blue label" href="/course/{{course._id}}/lab/{{lab._id}}/reference#item_{{item._id}}">
      <i class="external square icon"></i> Go to item {{item.index}} in the reference solution
    </a>
    {{#if equals item.type "textarea"}}
      <h3 class="ui header">
        Question
      </h3>
      {{#markdownFix}}{{item.text}}{{/markdownFix}}
    {{else}}
      <h3 class="ui header">
        File Upload
      </h3>
    {{/if}}
  </div>
  {{#if isOnTeachingTeam courseId}}
    <div class="ui attached feature segment">
      <div class="ui grid">
        <div class="ten wide column">
          <h3 class="ui header">Reference Solution</h3>
          {{#if equals item.type "textarea"}}
            {{#with getReferenceSubmission item._id}}
              <div class="ui blue message">
                <form class="ui form">
                  <textarea readonly style='{font-family: monospace}'>{{value}}</textarea>
                  <p>
                    Last submitted {{formatDateTime modificationDate}} by
                    {{#with getUser submitterId}}
                      {{> userStatusLabel user=this courseId=../../courseId}}
                    {{/with}}
                  </p>
                </form>
              </div>
            {{else}}
              <p>
                Please
                <a href="/course/{{course._id}}/lab/{{lab._id}}/reference#item_{{item._id}}">create a reference solution</a>
                before grading.
              </p>
            {{/with}}
          {{else}}
            TODO
          {{/if}}
        </div>
      </div>
    </div>
    {{#each getTeams lab._id}}
      <div class="ui attached feature segment">
        <div class="ui grid">
          <div class="ten wide column">
            <h3 class="ui header">
              Team
              {{#each memberIds}}
                {{#with getUser this}}
                  {{> userStatusLabel user=this courseId=../../courseId}}
                {{/with}}
              {{/each}}
            </h3>
            {{#if equals ../item.type "textarea"}}
              {{#with getTeamSubmission _id ../item._id}}
                <div class="ui blue message">
                  <form class="ui form">
                    <textarea readonly class="question-field" style='{font-family: monospace}'>{{value}}</textarea>
                    <p>
                      Last submitted {{formatDateTime modificationDate}} by
                      {{#with getUser submitterId}}
                        {{> userStatusLabel user=this courseId=../../courseId}}
                      {{/with}}
                    </p>
                  </form>
                </div>
              {{else}}
                <div class="ui center aligned secondary segment">
                  <p>&nbsp;</p>
                  <p>No Solution Submitted</p>
                  <p>&nbsp;</p>
                </div>
              {{/with}}
            {{else}}
              {{#if countLabSubmissionFiles _id ../item._id}}
                {{#if countLabSubmissionImageFiles _id ../item._id}}
                  {{#each getLabSubmissionImageFiles _id ../item._id}}
                    <a target="_blank" href="{{link}}" class="ui fluid image">
                      <img src="{{link}}">
                    </a>
                  {{/each}}
                {{/if}}
                <table class="ui very basic compact table">
                  <tbody>
                    {{#each getLabSubmissionFiles _id ../item._id}}
                      <tr>
                        <td>
                          <a href="{{link}}?download=true">{{shortFilename 56}}</a>
                        </td>
                        <td>
                          {{#if owner}}
                            {{#with getUser owner}}
                              {{> userStatusLabel user=this courseId=../../courseId}}
                            {{/with}}
                          {{else}}
                            <i>No owner</i>
                          {{/if}}
                        </td>
                        <td>
                          {{formatDateTime uploadDate}}
                        </td>
                        <td class="text-right">
                          {{#if length}}
                            {{formattedLength}}
                          {{else}}
                            (incomplete)
                          {{/if}}
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              {{else}}
                <div class="ui center aligned secondary segment">
                  <p>&nbsp;</p>
                  <p>No Files Uploaded</p>
                  <p>&nbsp;</p>
                </div>
              {{/if}}
            {{/if}}
          </div>
          <div class="six wide column">
            {{>labItemScorePane}}
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
</template>
