<template name="labItemEditor">
	<div class="editable-item ui {{#if isEditing}}blue secondary{{else}}basic{{/if}} segment" id="item_{{_id}}">
		<div class="ui grid">
			<div class="four wide column">
				<i class="move icon"></i>
				<div class="remove-item-button ui compact red icon button">
					<i class="minus icon"></i>
				</div>
				<div class="insert-item-dropdown ui compact green icon top left pointing dropdown button">
					<i class="plus icon"></i>
					<div class="menu">
						<div class="header">Insert Below</div>
						<div class="insert-item item" data-kind="section">Section Header</div>
						<div class="insert-item item" data-kind="subsection">Subsection Header</div>
						<div class="insert-item item" data-kind="subsubsection">Subsubsection Header</div>
						<div class="insert-item item" data-kind="markdown">Markdown Content</div>
						<div class="insert-item item" data-kind="mathjax">MathJax (Latex Math)</div>
						<div class="insert-item item" data-kind="code">Code</div>
						<div class="insert-item item" data-kind="question">Question</div>
						<div class="insert-item item" data-kind="question-flowchart">Flow Chart Question</div>
						<div class="insert-item item" data-kind="image">Image</div>
						<div class="insert-item item" data-kind="fileSubmission">File Submission</div>
					</div>
				</div>
				<div class="edit-item-button ui compact blue icon button">
					{{#if isEditing}}
						<i class="checkmark icon"></i>
					{{else}}
						<i class="edit icon"></i>
					{{/if}}
				</div>
				<br>
				<small>Position: <b>{{index}}</b></small>
			</div>
			<div class="twelve wide column">
				{{#if kindIs "section"}}
					{{#if isEditing}}
						<form class="ui form">
							<div class="field">
								<label>Section Header:</label>
								<input class="initially-focused" name="title" type="text" placeholder="Enter title" value="{{title}}">
							</div>
						</form>
					{{else}}
						<h2 class="ui dividing header">{{title}}</h2>
					{{/if}}
				{{/if}}
				{{#if kindIs "subsection"}}
					{{#if isEditing}}
						<form class="ui form">
							<div class="field">
								<label>Subsection Header:</label>
								<input class="initially-focused" name="title" type="text" placeholder="Enter title" value="{{title}}">
							</div>
						</form>
					{{else}}
						<h3 class="ui header">{{title}}</h3>
					{{/if}}
				{{/if}}
				{{#if kindIs "subsubsection"}}
					{{#if isEditing}}
						<form class="ui form">
							<div class="field">
								<label>Subsubsection Header:</label>
								<input class="initially-focused" name="title" type="text" placeholder="Enter title" value="{{title}}">
							</div>
						</form>
					{{else}}
						<h4 class="ui header">{{title}}</h4>
					{{/if}}
				{{/if}}
				{{#if kindIs "markdown"}}
					{{#if isEditing}}
						<form class="ui form">
							<div class="field">
								<label>Text:</label>
								{{>markdownLabel}}
								<textarea class="initially-focused" name="text" placeholder="Enter text (markdown)">{{text}}</textarea>
							</div>
						</form>
					{{else}}
						{{#markdownFix}}{{text}}{{/markdownFix}}
					{{/if}}
				{{/if}}
				{{#if kindIs "mathjax"}}
					{{#if isEditing}}
						<form class="ui form">
							<div class="field">
								<label>Math:</label>
								{{>mathJaxLabel}}
								<textarea class="initially-focused" name="text" placeholder="Enter text (MathJax)">{{text}}</textarea>
							</div>
						</form>
					{{else}}
						{{#mathjax}}<p>{{text}}</p>{{/mathjax}}
					{{/if}}
				{{/if}}
				{{#if kindIs "code"}}
					<!-- using https://atmospherejs.com/simple/highlight.js -->
					{{#if isEditing}}
						<form class="ui form">
							<div class="field">
								<label>Language:</label>
								<input class="initially-focused" name="lang" type="text" placeholder="Enter language ID (e.g., java)" value="{{lang}}">
							</div>
							<div class="field">
								<label>Code:</label>
								<textarea name="text" placeholder="Enter code">{{text}}</textarea>
							</div>
						</form>
					{{else}}
						{{#markdownFix}}
```{{lang}}
{{text}}
```
						{{/markdownFix}}
					{{/if}}
				{{/if}}
				{{#if kindIs "question-flowchart"}}
					{{#if isEditing}}
					<form class="ui form">
						<div class="field">
							<label>Question text:</label>
							<textarea class="initially-focused" name="text" type="text" placeholder="Enter question text">{{text}}</textarea>
						</div>
						<div class="field">
							<label>Initial answer contents:</label>
							TODO... (show flow chart editor, for editing initial answer)
						</div>
					</form>
					{{else}}
						<div class="ui blue message">
							TODO (flow chart answer editor)
						</div>
					{{/if}}
				{{/if}}
				{{#if kindIs "question"}}
					{{#if isEditing}}
						<form class="ui form">
							<div class="field">
								<label>Question text:</label>
								<textarea class="initially-focused" name="text" type="text" placeholder="Enter question text">{{text}}</textarea>
							</div>
							<div class="field">
								<label>Initial answer contents:</label>
								<textarea name="contents" placeholder="Enter initial answer contents (often empty)">{{contents}}</textarea>
							</div>
						</form>
					{{else}}
						<div class="ui blue message">
							{{#if typeIs "textarea"}}
								<div class="header">
									<i class="bordered inverted blue question icon"></i>
									Question
								</div>
								{{#markdownFix}}{{text}}{{/markdownFix}}
								<form class="ui form">
									<textarea class="question-field" style='{font-family: monospace}'>{{contents}}</textarea>
								</form>
							{{/if}}
						</div>
					{{/if}}
				{{/if}}
				{{#if kindIs "image"}}
					{{#if isEditing}}
						<form class="ui form">
							<div class="field">
								<label>Image URL:</label>
								<input class="initially-focused" name="url" type="text" placeholder="Enter image URL (e.g., https://informa.inf.usi.ch/images/InformaBrain.png)" value="{{url}}">
							</div>
						</form>
					{{else}}
						<div class="ui segment">
							<img class="ui centered image" src="{{url}}">
						</div>
					{{/if}}
				{{/if}}
				{{#if kindIs "fileSubmission"}}
					{{#if isEditing}}
						<p>
							There's currently nothing to configure for a file upload item.
						</p>
					{{else}}
						<div class="ui center aligned secondary blue segment">
					    <h3 class="ui header">Drag files here</h3>
					    <p>
					      Or, if you prefer...
					    </p>
					    <p>
					      <button class="ui compact primary button">Choose files to upload</button>
					    </p>
					  </div>
					{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
</template>
