<template name="labPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'labEditPage' courseId=course._id labId=lab._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="lab icon"></i>
			<div class="content">
				{{lab.title}}
				<div class="sub header">{{lab.description}}</div>
			</div>
		</h1>
		{{#if lab.deadlineDate}}
			<p>
				Submission deadline: <strong>{{formatDate lab.deadlineDate}}</strong> at <strong>{{formatTimeHoursMinutes lab.deadlineDate}}</strong>
			</p>
		{{/if}}
		{{>labPageMenu}}
		{{#if isOnTeachingTeam courseId}}
			{{>labStatusPanel}}
			{{>labTeamStatusPanel}}
		{{/if}}
		{{#if isRegisteredAsStudent courseId}}
			{{>labStatusStudentPanel}}
			{{>labTeamStudentStatusPanel}}
		{{/if}}
		<div class="ui basic segment">
			<div class="ui grid">
				<div class="sixteen wide column">
					<h2 class="ui dividing header">Relevant Topics</h2>
				</div>
			</div>
		</div>
		<div class="segment">
			<div id="topic-mini-card-container" class="ui two cards">
				{{#each getTopics lab.topicIds}}
					{{>topicCardWithoutDescription}}
				{{/each}}
			</div>
		</div>
		<div class="ui basic segment">
			<div class="ui grid">
				<div class="sixteen wide column">
					<h2 class="ui dividing header">Contents</h2>
				</div>
			</div>
		</div>
		<div class="ui basic segment">
			<div class="ui grid">
				<div class="ten wide column">
					<div class="ui fluid vertical menu">
						{{#each contentItems}}
							{{#if kindIs "section"}}
								<a class="item" href="#item_{{_id}}"><strong>{{title}}</strong></a>
							{{/if}}
							{{#if kindIs "subsection"}}
								<a class="item" href="#item_{{_id}}">{{title}}</a>
							{{/if}}
						{{/each}}
					</div>
				</div>
				<div class="six wide center aligned column">
					<div class="ui statistic">
						<div class="value">
							{{getNumberOfOwnSubmissions lab._id}}/{{getNumberOfQuestionItems lab._id}}
						</div>
						<div class="label">
							Answers Submitted
						</div>
					</div>
				</div>
			</div>
		</div>
		{{#each contentItems}}
			{{>labItem}}
		{{/each}}
	</div>
</template>
