<template name="labRubricPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="lab icon"></i>
			<div class="content">
				{{lab.title}}
				<div class="sub header">{{lab.description}}</div>
			</div>
		</h1>
		{{#if lab.deadlineDate}}
			<p>
				Submission deadline: <strong>{{formatDate lab.deadlineDate}}</strong> at <strong>{{formatTimeHoursMinutes lab.deadlineDate}}</strong>
			</p>
		{{/if}}
		{{>labPageMenu}}
    <h2>Design Grading Rubrics</h2>
    <p>
      There is a rubric for each submission item of this lab.
      That rubric determines the criteria along which the submissions of that item will be graded.
    </p>
    <p>
      Each grading rubric consists of one or more <i>categories</i> (usually just one).
      A student can get a certain maximum number of points in each category.
      Each category contains two or more rubric items.
      Each rubric item gives a fixed number of points (often just 1).
      When grading, one picks the subset of the rubric items that apply to the student's submission.
      If a category is <i>additive</i> (grading means identifying good aspects of a submission),
      the points of its selected items are added together.
      If a category is <i>subtractive</i> (grading means identifying mistakes in a submission),
      the points of its selected items are subtracted from the maximum points.
    </p>
    <p>
      Note that during grading, one has to click on <i>at least one</i> rubric item to grade a given submission.
      Thus, an additive category needs a +0 point item to represent the worst possible solution,
      and a subtractive category needs a -0 point item to represent the best possibly solution.
    </p>
  </div>
  {{#if isOnTeachingTeam courseId}}
    {{#each getQuestionItems lab._id}}
      <div id="item_{{_id}}" class="ui attached feature segment">
        <a class="ui top left attached blue label" href="/course/{{../course._id}}/lab/{{../lab._id}}/reference#item_{{_id}}">
          <i class="external square icon"></i> Go to item {{index}} in the reference solution
        </a>
        <h3 class="ui header">
          Item {{index}}
        </h3>
    		<div class="ui grid">
    			<div class="ten wide column">
            {{>labItemContents}}
    			</div>
    			<div class="six wide column">
            {{>rubricEditPane}}
    			</div>
      	</div>
      </div>
    {{/each}}
  {{/if}}
</template>
