<template name="labStatusPanel">
  {{#if equals lab.status "hidden"}}
    <div class="ui message">
      <div class="header">
        <i class="hide icon"></i> Hidden
      </div>
      <p>
        This lab is hidden and cannot be seen by students.
      </p>
      <a href="#" class="ui blue button show-as-preview-button"><i class="unhide icon"></i> Show as Preview</a>
    </div>
  {{else}}
    {{#if equals lab.status "open"}}
      <div class="ui message">
        <div class="header">
          <i class="unlock icon"></i> Open
        </div>
        <p>
          This lab is open, students can submit their answers.
        </p>
        <a href="#" class="ui blue button close-button"><i class="lock icon"></i> Close</a>
        <a href="#" class="ui button hide-button"><i class="hide icon"></i> Hide</a>
      </div>
    {{else}}
      {{#if equals lab.status "closed"}}
        <div class="ui message">
          <div class="header">
            <i class="lock icon"></i> Closed
          </div>
          <p>
            This lab is closed. Students can still see it, and they can see their answers,
            but they cannot update their answers anymore.
          </p>
          <a href="#" class="ui button reopen-button"><i class="unlock icon"></i> Reopen</a>
          <a href="#" class="ui button hide-button"><i class="hide icon"></i> Hide</a>
        </div>
      {{else}}
        <!--status is either "preview" or not defined -->
        <div class="ui message">
          <div class="header">
            <i class="unhide icon"></i> Showing as Preview
          </div>
          <p>
            This lab can be seen by students, but they cannot submit anything yet.
            Previewing a lab like this allows students to see what's coming up,
            while allowing the instructor to still make changes.
          </p>
          <a href="#" class="ui blue button open-button"><i class="unlock icon"></i> Open</a>
          <a href="#" class="ui button hide-button"><i class="hide icon"></i> Hide</a>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</template>
