<template name="labTeamStatusPanel">
  {{#if isPreviewOrOpenOrClosed lab.status}}
    <div class="ui message">
      <div class="header">
        <i class="group icon"></i> Teams
      </div>
      <p>
        This lab has <a href="{{pathFor 'labTeamsPage' courseId=course._id labId=lab._id}}">{{getNumberOfLabTeams lab._id}} teams</a>
        with a total of {{countAssignedStudents lab}} students.
        The lab's team size is
        {{#if lab.groupSize}}
          {{lab.groupSize}}.
        {{else}}
          undefined.
        {{/if}}
      </p>
      {{#if countUnassignedStudents lab}}
        <p>
          <strong>Note:</strong> {{countUnassignedStudents lab}}
          of the {{countEligibleStudents lab}} eligible students in this course
          are <strong>not</strong> assigned to a team.
          <a href="{{pathFor 'labTeamsPage' courseId=course._id labId=lab._id}}">Edit teams</a> to fix this.
        </p>
      {{/if}}
    </div>
  {{/if}}
</template>
