<template name="rubricCategoryEditModal">
	<div class="rubric-category-edit-modal ui modal {{_id}}">
		{{>rubricCategoryEditModalInner}}
	</div>
</template>


<template name="rubricCategoryEditModalInner">
	<i class="close icon"></i>
	<div class="header">
		Rubric Category Settings
	</div>
	<div class="content">
		<div class="description">
			<div class="ui header">Edit this category</div>

			<form class="ui form">
				<div class="field">
					<label>Name:</label>
					<input class="category-name-input" type="text" name="name" placeholder="Category name">
				</div>

        <div class="field">
          <label>Maximum Points:</label>
          <input class="category-points-input" type="text" name="points" placeholder="Maximum points">
        </div>

        <div class="grouped fields">
          <label>Scale:</label>
          <div class="field">
            <div class="category-additive ui radio checkbox">
              <input type="radio" name="additive">
              <label>Additive (start with 0, each item adds points)</label>
            </div>
          </div>
          <div class="field">
            <div class="category-subtractive ui radio checkbox">
              <input type="radio" name="subtractive">
              <label>Subtractive (start with maximum, each item removes points)</label>
            </div>
          </div>
        </div>

        <div class="grouped fields">
          <label>Bonus/Malus Points:</label>
          <div class="field">
            <div class="category-enable-bonus-malus ui checkbox">
              <input type="checkbox" name="enable-bonus-malus">
              <label>Enable bonus/malus points (score can go below 0 or above maximimum)</label>
            </div>
          </div>
        </div>
			</form>

		</div>
	</div>
	<div class="actions">
		<div class="ui cancel button">Cancel</div>
		<div class="ui primary ok button">Save</div>
	</div>
</template>
